//
// PublicPlatformAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class PublicPlatformAPI {

    /**
     Platform availability (maintenance mode)
     
     - returns: PlatformStatus
     */
    @available(macOS 10.15, iOS 13.0, tvOS 13.0, watchOS 6.0, *)
    open class func publicPlatformStatusRetrieve() async throws -> PlatformStatus {
        return try await publicPlatformStatusRetrieveWithRequestBuilder().execute().body
    }

    /**
     Platform availability (maintenance mode)
     - GET /api/v1/platform/status/
     - Always served, even during maintenance. While `maintenance` is true every other public and owner API answers 503 with code MAINTENANCE, details {retryAfterSeconds} and a Retry-After header.
     - returns: RequestBuilder<PlatformStatus> 
     */
    open class func publicPlatformStatusRetrieveWithRequestBuilder() -> RequestBuilder<PlatformStatus> {
        let localVariablePath = "/api/v1/platform/status/"
        let localVariableURLString = ServaDirectoryAPIAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            :
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<PlatformStatus>.Type = ServaDirectoryAPIAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: false)
    }
}
