/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.Accepted
import com.servacode.directory.api.multiplatform.models.AccountDeletionRequested
import com.servacode.directory.api.multiplatform.models.AccountRatingList
import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.ChallengeAccepted
import com.servacode.directory.api.multiplatform.models.ChallengeVerify
import com.servacode.directory.api.multiplatform.models.DeletionRequest
import com.servacode.directory.api.multiplatform.models.FavoriteList
import com.servacode.directory.api.multiplatform.models.FavoriteState
import com.servacode.directory.api.multiplatform.models.FavoriteWrite
import com.servacode.directory.api.multiplatform.models.MfaCode
import com.servacode.directory.api.multiplatform.models.MfaRecoveryCodes
import com.servacode.directory.api.multiplatform.models.MfaSetup
import com.servacode.directory.api.multiplatform.models.MfaStatus
import com.servacode.directory.api.multiplatform.models.NotificationPage
import com.servacode.directory.api.multiplatform.models.NotificationPreferences
import com.servacode.directory.api.multiplatform.models.PasswordChange
import com.servacode.directory.api.multiplatform.models.PatchedNotificationPreferences
import com.servacode.directory.api.multiplatform.models.PatchedProfilePatch
import com.servacode.directory.api.multiplatform.models.PhoneChangeStart
import com.servacode.directory.api.multiplatform.models.Profile
import com.servacode.directory.api.multiplatform.models.PushToken
import com.servacode.directory.api.multiplatform.models.PushTokenRegister
import com.servacode.directory.api.multiplatform.models.ReceivedInvitationList
import com.servacode.directory.api.multiplatform.models.UnreadCount

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AccountApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Request deletion of the account of the caller
     * Required by Play policy for any app that creates accounts. Ownership obligations and legally retained records are handled by the deletion policy.
     * @param deletionRequest 
     * @return AccountDeletionRequested
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountDeletionRequestCreate(deletionRequest: DeletionRequest): HttpResponse<AccountDeletionRequested> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = deletionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/deletion-request/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Save a facility
     * Idempotent: saving a facility that is already saved changes nothing.
     * @param favoriteWrite 
     * @return FavoriteState
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountFavoriteAdd(favoriteWrite: FavoriteWrite): HttpResponse<FavoriteState> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = favoriteWrite

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/favorites/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Remove a facility the caller had saved
     * Idempotent: removing what was not saved is not an error.
     * @param facilityId 
     * @return FavoriteState
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountFavoriteRemove(facilityId: kotlin.String): HttpResponse<FavoriteState> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/account/favorites/{facility_id}/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the facilities the caller has saved
     * Newest first, cursor-paginated. A saved facility that is no longer public — closed, suspended, or in a category the province stopped serving — is not returned, because this list is served by the same public query every other list uses.
     * @param cursor Opaque token returned as &#x60;nextCursor&#x60; by the previous page. (optional)
     * @param limit Page size, maximum 100, default 30. (optional)
     * @return FavoriteList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountFavoritesList(cursor: kotlin.String? = null, limit: kotlin.Int? = null): HttpResponse<FavoriteList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/account/favorites/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Join the facility an invitation is for
     * Only the account whose phone number was invited can accept; any other caller gets 404. An invitation to own raises a manager to owner and never lowers anyone. 409 INVITATION_EXPIRED or INVITATION_CLOSED when it can no longer be accepted.
     * @param invitationId 
     * @return Accepted
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountInvitationAccept(invitationId: kotlin.String): HttpResponse<Accepted> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/invitations/{invitation_id}/accept/".replace("{" + "invitation_id" + "}", "$invitationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Decline an invitation
     * 
     * @param invitationId 
     * @return void
     */
    open suspend fun accountInvitationDecline(invitationId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/invitations/{invitation_id}/decline/".replace("{" + "invitation_id" + "}", "$invitationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Invitations waiting for this account&#39;s phone number
     * 
     * @return ReceivedInvitationList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountInvitationsList(): HttpResponse<ReceivedInvitationList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/account/invitations/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Confirm the authenticator with its first code
     * Enables it, marks this session as having passed the second step, and returns ten recovery codes, shown this once.
     * @param mfaCode 
     * @return MfaRecoveryCodes
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountMfaConfirm(mfaCode: MfaCode): HttpResponse<MfaRecoveryCodes> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = mfaCode

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/mfa/confirm/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Switch the authenticator off
     * Needs a current code from the app. Refused with 409 MFA_REQUIRED_BY_POLICY where every operator must have one.
     * @param mfaCode 
     * @return MfaStatus
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountMfaDisable(mfaCode: MfaCode): HttpResponse<MfaStatus> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = mfaCode

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/mfa/disable/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * The second sign-in step, for this account and session
     * 
     * @return MfaStatus
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountMfaRetrieve(): HttpResponse<MfaStatus> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/account/mfa/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Start setting up an authenticator app
     * Operators only. Returns a new secret and its QR code; nothing is enabled until a code from the app confirms it. Starting again replaces an unconfirmed secret.
     * @return MfaSetup
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountMfaSetup(): HttpResponse<MfaSetup> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/mfa/setup/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Pass the second step for this session
     * A code from the app, or one of the recovery codes (each works once).
     * @param mfaCode 
     * @return MfaStatus
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountMfaVerify(mfaCode: MfaCode): HttpResponse<MfaStatus> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = mfaCode

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/mfa/verify/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Mark one notification as read
     * Idempotent: a message that was already read keeps the time it was read.
     * @param notificationId 
     * @return UnreadCount
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountNotificationMarkRead(notificationId: kotlin.String): HttpResponse<UnreadCount> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/notifications/{notification_id}/read/".replace("{" + "notification_id" + "}", "$notificationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Which kinds of notice are pushed to this account&#39;s devices
     * All are on until the account turns one off. Only the push is governed: every message still reaches the inbox. A staff change to an owner&#39;s own duty shift, and any kind outside these three, is always pushed.
     * @return NotificationPreferences
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountNotificationPreferencesRetrieve(): HttpResponse<NotificationPreferences> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/account/notification-preferences/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Change which kinds of notice are pushed
     * Only the fields sent change.
     * @param patchedNotificationPreferences  (optional)
     * @return NotificationPreferences
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountNotificationPreferencesUpdate(patchedNotificationPreferences: PatchedNotificationPreferences? = null): HttpResponse<NotificationPreferences> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = patchedNotificationPreferences

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/api/v1/account/notification-preferences/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List the caller&#39;s notifications, newest first
     * The account&#39;s own inbox.  Every message the platform has sent this account is here whether or not a push ever reached the device, which is what makes the inbox the record and the push only an announcement.
     * @param cursor Opaque token returned as &#x60;nextCursor&#x60; by the previous page. (optional)
     * @param limit Page size, maximum 100, default 30. (optional)
     * @return NotificationPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountNotificationsList(cursor: kotlin.String? = null, limit: kotlin.Int? = null): HttpResponse<NotificationPage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/account/notifications/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Mark every unread notification as read
     * 
     * @return UnreadCount
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountNotificationsMarkAllRead(): HttpResponse<UnreadCount> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/notifications/read-all/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * How many of the caller&#39;s notifications are unread
     * 
     * @return UnreadCount
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountNotificationsUnreadCount(): HttpResponse<UnreadCount> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/account/notifications/unread-count/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Change the caller&#39;s password
     * The caller proves the current password first. A successful change revokes every session, including this one, so the caller signs in again with the new password.
     * @param passwordChange 
     * @return void
     */
    open suspend fun accountPasswordChange(passwordChange: PasswordChange): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = passwordChange

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/password/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Confirm the code and move the account to the new number
     * Every session ends, this one included: the phone is how this account signs in, so a session issued to the old identity does not outlive it.
     * @param challengeVerify 
     * @return Profile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountPhoneChangeConfirm(challengeVerify: ChallengeVerify): HttpResponse<Profile> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = challengeVerify

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/phone/confirm/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Start moving the account to another phone number
     * The code is sent to the new number, which is what proves the caller can receive on it. The account is not changed until the code is confirmed.
     * @param phoneChangeStart 
     * @return ChallengeAccepted
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountPhoneChangeStart(phoneChangeStart: PhoneChangeStart): HttpResponse<ChallengeAccepted> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = phoneChangeStart

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/phone/start/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Remove the profile picture of the caller
     * The picture on the account: one at a time, replaced or removed.
     * @return Profile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountProfileImageDelete(): HttpResponse<Profile> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/account/profile/image/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Upload or replace the profile picture of the caller
     * Sent as multipart/form-data. The server decodes the file, enforces byte and pixel limits, re-encodes to JPEG and strips metadata — a photograph carries where it was taken. The declared extension and MIME type are not trusted.
     * @param file 
     * @return Profile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountProfileImageUpdate(file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>): HttpResponse<Profile> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            formData {
                file?.apply { append(file) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/account/profile/image/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve the profile of the caller
     * 
     * @return Profile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountProfileRetrieve(): HttpResponse<Profile> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/account/profile/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update the display name or profile province of the caller
     * 
     * @param patchedProfilePatch  (optional)
     * @return Profile
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountProfileUpdate(patchedProfilePatch: PatchedProfilePatch? = null): HttpResponse<Profile> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = patchedProfilePatch

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/api/v1/account/profile/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Register or refresh this device&#39;s push token
     * Idempotent. A new token from the same session replaces the previous one. The token is tied to the calling session and deactivated when that session ends.
     * @param pushTokenRegister 
     * @return void
     */
    open suspend fun accountPushTokenRegister(pushTokenRegister: PushTokenRegister): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = pushTokenRegister

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/account/push-token/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Stop sending pushes to a device token
     * Idempotent: an unknown or already inactive token also answers 204.
     * @param pushToken 
     * @return void
     */
    open suspend fun accountPushTokenUnregister(pushToken: PushToken): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = pushToken

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/account/push-token/unregister/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List the ratings written by the caller
     * 
     * @return AccountRatingList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun accountRatingsList(): HttpResponse<AccountRatingList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/account/ratings/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
