/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminAuditList
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminAuditApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Search the audit trail
     * Newest first, in cursor pages. Snapshots and metadata are stored redacted. Every filter is optional and combines with the rest.
     * @param action Substring matched against the action code, case-insensitive. (optional)
     * @param actor Actor user id. (optional)
     * @param cursor Opaque token returned as &#x60;nextCursor&#x60; by the previous page. (optional)
     * @param from ISO date or datetime; keeps entries created at or after it. (optional)
     * @param limit Page size, maximum 200, default 50. (optional)
     * @param requestId Exact request correlation id, as returned in an error body. (optional)
     * @param resource Substring matched against the target type, or an exact target id. (optional)
     * @param to ISO date or datetime; a bare date includes that whole day. (optional)
     * @return AdminAuditList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAuditList(action: kotlin.String? = null, actor: kotlin.String? = null, cursor: kotlin.String? = null, from: kotlin.String? = null, limit: kotlin.Int? = null, requestId: kotlin.String? = null, resource: kotlin.String? = null, to: kotlin.String? = null): HttpResponse<AdminAuditList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        action?.apply { localVariableQuery["action"] = listOf("$action") }
        actor?.apply { localVariableQuery["actor"] = listOf("$actor") }
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        requestId?.apply { localVariableQuery["requestId"] = listOf("$requestId") }
        resource?.apply { localVariableQuery["resource"] = listOf("$resource") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/audit/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
