/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminBroadcast
import com.servacode.directory.api.multiplatform.models.AdminBroadcastAudience
import com.servacode.directory.api.multiplatform.models.AdminBroadcastPage
import com.servacode.directory.api.multiplatform.models.AdminBroadcastRequest
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminNotificationsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Send a notification to many users
     * ALL reaches every active account (narrowed to accounts that chose &#x60;provinceId&#x60; when given); OWNERS reaches every active owner or manager (narrowed to facilities in &#x60;provinceId&#x60;). Each recipient gets an inbox notification of type &#x60;platform.broadcast&#x60;, and a push is queued for accounts with a device. Audited. At most 5 broadcasts per operator per hour (429).
     * @param adminBroadcastRequest 
     * @return AdminBroadcast
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminNotificationBroadcast(adminBroadcastRequest: AdminBroadcastRequest): HttpResponse<AdminBroadcast> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminBroadcastRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/notifications/broadcast/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }




    /**
     * enum for parameter audience
     */
    @Serializable
    enum class AudienceAdminNotificationBroadcastAudience(val value: kotlin.String) {
        
        @SerialName(value = "ALL")
        ALL("ALL"),
        
        @SerialName(value = "OWNERS")
        OWNERS("OWNERS")
        
    }

    /**
     * How many accounts a broadcast would reach
     * How many accounts a broadcast would reach, asked before it is sent.  A broadcast to a province nobody chose said «أُرسل» to nobody at all; the console now shows the count in its confirmation and warns when it is zero.
     * @param audience 
     * @param provinceId  (optional)
     * @return AdminBroadcastAudience
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminNotificationBroadcastAudience(audience: AudienceAdminNotificationBroadcastAudience, provinceId: kotlin.String? = null): HttpResponse<AdminBroadcastAudience> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        audience?.apply { localVariableQuery["audience"] = listOf("${ audience.value }") }
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/notifications/broadcast/audience/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Broadcast history, newest first
     * 
     * @param cursor  (optional)
     * @param limit  (optional)
     * @return AdminBroadcastPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminNotificationBroadcastsList(cursor: kotlin.String? = null, limit: kotlin.Int? = null): HttpResponse<AdminBroadcastPage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/notifications/broadcasts/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
