/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdStats
import com.servacode.directory.api.multiplatform.models.AdminAdImage
import com.servacode.directory.api.multiplatform.models.AdminAdvertisementList
import com.servacode.directory.api.multiplatform.models.AdminAdvertisementRequest
import com.servacode.directory.api.multiplatform.models.AdminAdvertisementUpdateRequest
import com.servacode.directory.api.multiplatform.models.AdminId
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminAdsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Create an advertisement
     * Requires the manage permission, which is re-checked inside the handler. Action payloads are validated per action type.
     * @param adminAdvertisementRequest 
     * @return AdminId
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAdCreate(adminAdvertisementRequest: AdminAdvertisementRequest): HttpResponse<AdminId> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminAdvertisementRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/ads/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete an advertisement
     * 
     * @param advertisementId 
     * @return void
     */
    open suspend fun adminAdDelete(advertisementId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/ads/{advertisement_id}/".replace("{" + "advertisement_id" + "}", "$advertisementId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Upload an advertisement image
     * multipart/form-data with &#x60;file&#x60;. JPEG, PNG or WebP only, at most 2 MB, each side 100 to 4096 px. The image is re-encoded to JPEG (metadata stripped) and stored in public media under a random key. Pass the returned &#x60;imageKey&#x60; when creating or updating the advertisement.
     * @param file JPEG, PNG or WebP, at most 2 MB, 100-4096 px a side.
     * @return AdminAdImage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAdImageUpload(file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>): HttpResponse<AdminAdImage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            formData {
                file?.apply { append(file) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/ads/images/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Impressions and clicks of each advertisement over a period
     * Counted from the apps&#39; &#x60;ad_impression&#x60; and &#x60;ad_click&#x60; events, by Damascus day. The default is the last 30 days; at most a year. Every advertisement is listed, those never shown with zeros.
     * @param from  (optional)
     * @param to  (optional)
     * @return AdStats
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAdStatsRetrieve(from: kotlin.String? = null, to: kotlin.String? = null): HttpResponse<AdStats> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/ads/stats/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edit an advertisement, its schedule or its activation
     * Omitted fields keep their current value. Schedule, targeting and action payload are validated together, so an end before its start or a global advertisement carrying a target is refused.
     * @param advertisementId 
     * @param adminAdvertisementUpdateRequest  (optional)
     * @return AdminId
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAdUpdate(advertisementId: kotlin.String, adminAdvertisementUpdateRequest: AdminAdvertisementUpdateRequest? = null): HttpResponse<AdminId> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminAdvertisementUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/ads/{advertisement_id}/".replace("{" + "advertisement_id" + "}", "$advertisementId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List advertisements
     * 
     * @return AdminAdvertisementList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAdsList(): HttpResponse<AdminAdvertisementList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/ads/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
