/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminApplication
import com.servacode.directory.api.multiplatform.models.AdminApplicationDetail
import com.servacode.directory.api.multiplatform.models.AdminApplicationList
import com.servacode.directory.api.multiplatform.models.AdminRejectionTemplate
import com.servacode.directory.api.multiplatform.models.AdminRejectionTemplateList
import com.servacode.directory.api.multiplatform.models.AdminRejectionTemplateRequest
import com.servacode.directory.api.multiplatform.models.AdminReviewDecisionRequest
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminReviewsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Stream one piece of private verification evidence
     * 
     * @param evidenceId 
     * @return com.servacode.directory.api.multiplatform.infrastructure.OctetByteArray
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminEvidenceContentRetrieve(evidenceId: kotlin.String): HttpResponse<com.servacode.directory.api.multiplatform.infrastructure.OctetByteArray> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/evidence/{evidence_id}/content/".replace("{" + "evidence_id" + "}", "$evidenceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a rejection template
     * Requires admin.reviews.decide, re-checked inside the handler.
     * @param adminRejectionTemplateRequest 
     * @return AdminRejectionTemplate
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminRejectionTemplateCreate(adminRejectionTemplateRequest: AdminRejectionTemplateRequest): HttpResponse<AdminRejectionTemplate> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminRejectionTemplateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/rejection-templates/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete a rejection template
     * Past rejections keep their text; a template is only a starting point.
     * @param templateId 
     * @return void
     */
    open suspend fun adminRejectionTemplateDelete(templateId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/rejection-templates/{template_id}/".replace("{" + "template_id" + "}", "$templateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edit, reorder or retire a rejection template
     * Omitted fields keep their value.
     * @param templateId 
     * @param adminRejectionTemplateRequest 
     * @return AdminRejectionTemplate
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminRejectionTemplateUpdate(templateId: kotlin.String, adminRejectionTemplateRequest: AdminRejectionTemplateRequest): HttpResponse<AdminRejectionTemplate> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminRejectionTemplateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/rejection-templates/{template_id}/".replace("{" + "template_id" + "}", "$templateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List rejection templates
     * Ordered by &#x60;sortOrder&#x60;. &#x60;active&#x3D;true&#x60; keeps only the active ones.
     * @param active  (optional)
     * @return AdminRejectionTemplateList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminRejectionTemplatesList(active: kotlin.Boolean? = null): HttpResponse<AdminRejectionTemplateList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        active?.apply { localVariableQuery["active"] = listOf("$active") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/rejection-templates/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Approve an application
     * Runs in one transaction: the application and the facility lifecycle are locked, the current requirements are re-checked, the change is audited and the realtime event is emitted only after commit.
     * @param applicationId 
     * @param adminReviewDecisionRequest  (optional)
     * @return AdminApplication
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminReviewApprove(applicationId: kotlin.String, adminReviewDecisionRequest: AdminReviewDecisionRequest? = null): HttpResponse<AdminApplication> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminReviewDecisionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/applications/{application_id}/approve/".replace("{" + "application_id" + "}", "$applicationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Reject an application
     * A reason is recorded in the audit trail; nothing is silently deleted.
     * @param applicationId 
     * @param adminReviewDecisionRequest  (optional)
     * @return AdminApplication
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminReviewReject(applicationId: kotlin.String, adminReviewDecisionRequest: AdminReviewDecisionRequest? = null): HttpResponse<AdminApplication> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminReviewDecisionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/applications/{application_id}/reject/".replace("{" + "application_id" + "}", "$applicationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Retrieve one application with its review context
     * Evidence is referenced by identifier only; content is fetched separately through the audited evidence endpoint.
     * @param applicationId 
     * @return AdminApplicationDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminReviewRetrieve(applicationId: kotlin.String): HttpResponse<AdminApplicationDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/applications/{application_id}/".replace("{" + "application_id" + "}", "$applicationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List facility applications awaiting or past review
     * Newest submission first, in cursor pages. Every filter is optional and combines with the rest. A draft that was never submitted sorts by when it was started.
     * @param category Category id of the facility the application belongs to. (optional)
     * @param cursor Opaque token returned as &#x60;nextCursor&#x60; by the previous page. (optional)
     * @param evidence &#x60;complete&#x60; or &#x60;incomplete&#x60;: whether every required document is uploaded. (optional)
     * @param from Submitted on or after this day (YYYY-MM-DD, Damascus) or this ISO datetime. (optional)
     * @param kind Application kind, for example REGISTRATION or REVERIFICATION. (optional)
     * @param limit Page size, maximum 200, default 50. (optional)
     * @param province Province id of the facility the application belongs to. (optional)
     * @param status Application status, for example SUBMITTED or APPROVED. (optional)
     * @param to Submitted on or before this day (YYYY-MM-DD, Damascus) or before this datetime. (optional)
     * @return AdminApplicationList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminReviewsList(category: kotlin.String? = null, cursor: kotlin.String? = null, evidence: kotlin.String? = null, from: kotlin.String? = null, kind: kotlin.String? = null, limit: kotlin.Int? = null, province: kotlin.String? = null, status: kotlin.String? = null, to: kotlin.String? = null): HttpResponse<AdminApplicationList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        category?.apply { localVariableQuery["category"] = listOf("$category") }
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        evidence?.apply { localVariableQuery["evidence"] = listOf("$evidence") }
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        kind?.apply { localVariableQuery["kind"] = listOf("$kind") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        province?.apply { localVariableQuery["province"] = listOf("$province") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/applications/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
