/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminId
import com.servacode.directory.api.multiplatform.models.AdminVerificationRequirement
import com.servacode.directory.api.multiplatform.models.AdminVerificationRequirementList
import com.servacode.directory.api.multiplatform.models.AdminVerificationRequirementRequest
import com.servacode.directory.api.multiplatform.models.AdminVerificationRequirementUpdateRequest
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminVerificationApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Create a verification requirement
     * Requires the manage permission, which is re-checked inside the handler.
     * @param adminVerificationRequirementRequest 
     * @return AdminId
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminVerificationRequirementCreate(adminVerificationRequirementRequest: AdminVerificationRequirementRequest): HttpResponse<AdminId> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminVerificationRequirementRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/verification-requirements/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Edit a verification requirement, or retire it
     * The owning category cannot change: evidence already submitted points at a (facility, requirement) pair. Retirement is &#x60;active &#x3D; false&#x60;; there is no delete, because evidence references the row.
     * @param requirementId 
     * @param adminVerificationRequirementUpdateRequest  (optional)
     * @return AdminVerificationRequirement
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminVerificationRequirementUpdate(requirementId: kotlin.Int, adminVerificationRequirementUpdateRequest: AdminVerificationRequirementUpdateRequest? = null): HttpResponse<AdminVerificationRequirement> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminVerificationRequirementUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/verification-requirements/{requirement_id}/".replace("{" + "requirement_id" + "}", "$requirementId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List verification requirements
     * 
     * @return AdminVerificationRequirementList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminVerificationRequirementsList(): HttpResponse<AdminVerificationRequirementList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/verification-requirements/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
