/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminDecisionRequest
import com.servacode.directory.api.multiplatform.models.AdminFacility
import com.servacode.directory.api.multiplatform.models.AdminFacilityCreate
import com.servacode.directory.api.multiplatform.models.AdminFacilityDetail
import com.servacode.directory.api.multiplatform.models.AdminFacilityList
import com.servacode.directory.api.multiplatform.models.AdminFacilityMap
import com.servacode.directory.api.multiplatform.models.AdminFacilityOwner
import com.servacode.directory.api.multiplatform.models.AdminFacilityOwnerRequest
import com.servacode.directory.api.multiplatform.models.AdminTimeline
import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.BusinessHourInput
import com.servacode.directory.api.multiplatform.models.BusinessHoursList
import com.servacode.directory.api.multiplatform.models.OwnerFacilityImage
import com.servacode.directory.api.multiplatform.models.OwnerFacilityImageList
import com.servacode.directory.api.multiplatform.models.PatchedAdminFacilityWrite

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminFacilitiesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter issue
     */
    @Serializable
    enum class IssueAdminFacilitiesList(val value: kotlin.String) {
        
        @SerialName(value = "NOT_VERIFIED_RECENTLY")
        NOT_VERIFIED_RECENTLY("NOT_VERIFIED_RECENTLY"),
        
        @SerialName(value = "NO_HOURS")
        NO_HOURS("NO_HOURS"),
        
        @SerialName(value = "NO_LOCATION")
        NO_LOCATION("NO_LOCATION"),
        
        @SerialName(value = "NO_PHONE")
        NO_PHONE("NO_PHONE"),
        
        @SerialName(value = "NO_PHOTOS")
        NO_PHOTOS("NO_PHOTOS"),
        
        @SerialName(value = "OPEN_REPORTS")
        OPEN_REPORTS("OPEN_REPORTS"),
        
        @SerialName(value = "STALE")
        STALE("STALE")
        
    }


    /**
     * enum for parameter ordering
     */
    @Serializable
    enum class OrderingAdminFacilitiesList(val value: kotlin.String) {
        
        @SerialName(value = "-qualityScore")
        MinusQualityScore("-qualityScore"),
        
        @SerialName(value = "-updatedAt")
        MinusUpdatedAt("-updatedAt"),
        
        @SerialName(value = "qualityScore")
        qualityScore("qualityScore"),
        
        @SerialName(value = "updatedAt")
        updatedAt("updatedAt")
        
    }

    /**
     * List facilities for operations
     * In cursor pages. Every filter is optional and combines with the rest. Each row carries &#x60;qualityScore&#x60; (0-100) and &#x60;qualityIssues&#x60;, computed in the same query.
     * @param category Category id. (optional)
     * @param city City id. (optional)
     * @param cursor Opaque token returned as &#x60;nextCursor&#x60; by the previous page. (optional)
     * @param id One facility by id: what a link written before the console had cards resolves to. (optional)
     * @param issue Keep facilities that have this quality issue. (optional)
     * @param limit Page size, maximum 200, default 50. (optional)
     * @param ordering Sort order; the default is &#x60;-updatedAt&#x60; (most recently changed). (optional)
     * @param province Province id. (optional)
     * @param q Free text matched against the Arabic and English facility names. (optional)
     * @param status Facility status, for example ACTIVE or SUSPENDED. (optional)
     * @return AdminFacilityList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilitiesList(category: kotlin.String? = null, city: kotlin.String? = null, cursor: kotlin.String? = null, id: kotlin.String? = null, issue: IssueAdminFacilitiesList? = null, limit: kotlin.Int? = null, ordering: OrderingAdminFacilitiesList? = null, province: kotlin.String? = null, q: kotlin.String? = null, status: kotlin.String? = null): HttpResponse<AdminFacilityList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        category?.apply { localVariableQuery["category"] = listOf("$category") }
        city?.apply { localVariableQuery["city"] = listOf("$city") }
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        issue?.apply { localVariableQuery["issue"] = listOf("${ issue.value }") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("${ ordering.value }") }
        province?.apply { localVariableQuery["province"] = listOf("$province") }
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/facilities/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Located facilities as map points, with the same filters as the list
     * Every located facility the filters select, as points (DECISION-075).  The same filters as the list, so \&quot;the map of what I am looking at\&quot; is one click. Only what a pin needs travels: the name, the state and the coordinates. A facility without a location is counted rather than dropped silently, so the operator can go and fix it.
     * @param category Category id. (optional)
     * @param city City id. (optional)
     * @param issue One of NO_PHOTOS, NO_HOURS, NO_LOCATION, NO_PHONE, STALE, OPEN_REPORTS, NOT_VERIFIED_RECENTLY. (optional)
     * @param province Province id. (optional)
     * @param q Free text matched against the facility names. (optional)
     * @param status Facility status. (optional)
     * @return AdminFacilityMap
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilitiesMap(category: kotlin.String? = null, city: kotlin.String? = null, issue: kotlin.String? = null, province: kotlin.String? = null, q: kotlin.String? = null, status: kotlin.String? = null): HttpResponse<AdminFacilityMap> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        category?.apply { localVariableQuery["category"] = listOf("$category") }
        city?.apply { localVariableQuery["city"] = listOf("$city") }
        issue?.apply { localVariableQuery["issue"] = listOf("$issue") }
        province?.apply { localVariableQuery["province"] = listOf("$province") }
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/facilities/map/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Close a facility
     * 
     * @param facilityId 
     * @param adminDecisionRequest  (optional)
     * @return AdminFacility
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityClose(facilityId: kotlin.String, adminDecisionRequest: AdminDecisionRequest? = null): HttpResponse<AdminFacility> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminDecisionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/facilities/{facility_id}/close/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add a facility to the directory
     * Listed by the directory itself, with no owner; an owner can claim it later. ACTIVE (the default) publishes it at once and counts as verified. The same validation as an owner&#39;s edit applies. Requires &#x60;admin.facilities.edit&#x60;; audited.
     * @param adminFacilityCreate 
     * @return AdminFacilityDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityCreate(adminFacilityCreate: AdminFacilityCreate): HttpResponse<AdminFacilityDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminFacilityCreate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/facilities/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * A facility&#39;s weekly opening hours
     * 
     * @param facilityId 
     * @return BusinessHoursList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityHoursList(facilityId: kotlin.String): HttpResponse<BusinessHoursList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/facilities/{facility_id}/hours/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Replace a facility&#39;s weekly opening hours
     * The whole week in one call, as the owner&#39;s own route: overnight spans are allowed and same-day overlaps refused. Requires &#x60;admin.facilities.edit&#x60;.
     * @param facilityId 
     * @param businessHourInput 
     * @return BusinessHoursList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityHoursReplace(facilityId: kotlin.String, businessHourInput: kotlin.collections.List<BusinessHourInput>): HttpResponse<BusinessHoursList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = AdminFacilityHoursReplaceRequest(businessHourInput)

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/facilities/{facility_id}/hours/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }

    @Serializable(AdminFacilityHoursReplaceRequest.Companion::class)
    private class AdminFacilityHoursReplaceRequest(val value: List<BusinessHourInput>) {
        companion object : KSerializer<AdminFacilityHoursReplaceRequest> {
            private val serializer: KSerializer<List<BusinessHourInput>> = serializer<List<BusinessHourInput>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, value: AdminFacilityHoursReplaceRequest) = serializer.serialize(encoder, value.value)
            override fun deserialize(decoder: Decoder) = AdminFacilityHoursReplaceRequest(serializer.deserialize(decoder))
        }
    }

    /**
     * Add a public photo to a facility
     * Multipart, through the same pipeline as the owner&#39;s upload: the file is decoded, bounded, re-encoded to JPEG, stripped and stored under a random key. Requires &#x60;admin.facilities.edit&#x60;.
     * @param facilityId 
     * @param file 
     * @return OwnerFacilityImage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityImageCreate(facilityId: kotlin.String, file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>): HttpResponse<OwnerFacilityImage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            formData {
                file?.apply { append(file) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/facilities/{facility_id}/images/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Remove a public photo from a facility
     * Requires &#x60;admin.facilities.edit&#x60;. The stored file goes once the row does.
     * @param facilityId 
     * @param imageId 
     * @return void
     */
    open suspend fun adminFacilityImageDelete(facilityId: kotlin.String, imageId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/facilities/{facility_id}/images/{image_id}/".replace("{" + "facility_id" + "}", "$facilityId").replace("{" + "image_id" + "}", "$imageId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * A facility&#39;s public photos
     * 
     * @param facilityId 
     * @return OwnerFacilityImageList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityImagesList(facilityId: kotlin.String): HttpResponse<OwnerFacilityImageList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/facilities/{facility_id}/images/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Move a facility to another owner
     * 
     * @param facilityId 
     * @param adminFacilityOwnerRequest 
     * @return AdminFacilityOwner
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityOwnerTransfer(facilityId: kotlin.String, adminFacilityOwnerRequest: AdminFacilityOwnerRequest): HttpResponse<AdminFacilityOwner> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminFacilityOwnerRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/facilities/{facility_id}/owner/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Reactivate a suspended facility
     * 
     * @param facilityId 
     * @param adminDecisionRequest  (optional)
     * @return AdminFacility
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityReactivate(facilityId: kotlin.String, adminDecisionRequest: AdminDecisionRequest? = null): HttpResponse<AdminFacility> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminDecisionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/facilities/{facility_id}/reactivate/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Retrieve one facility
     * Everything the console shows and edits, with the quality score.
     * @param facilityId 
     * @return AdminFacilityDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityRetrieve(facilityId: kotlin.String): HttpResponse<AdminFacilityDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/facilities/{facility_id}/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Suspend a facility
     * A suspended facility leaves public discovery and cannot self-reactivate.
     * @param facilityId 
     * @param adminDecisionRequest  (optional)
     * @return AdminFacility
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilitySuspend(facilityId: kotlin.String, adminDecisionRequest: AdminDecisionRequest? = null): HttpResponse<AdminFacility> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminDecisionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/facilities/{facility_id}/suspend/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Everything that happened to a facility, newest first
     * Merges applications (submitted, decided), problem reports (created, resolved or dismissed), audited changes to the facility and its applications, reports, images, evidence and duty shifts, and a summary of the next 14 days of duty. Up to 200 events.
     * @param facilityId 
     * @return AdminTimeline
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityTimelineRetrieve(facilityId: kotlin.String): HttpResponse<AdminTimeline> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/facilities/{facility_id}/timeline/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Correct a facility&#39;s details
     * Only the fields sent change. The status is left as it is: an operator&#39;s correction does not send a live facility back for re-verification. Moving it to another province clears its city unless one is sent; another category clears its specialties and services unless they are sent. Requires &#x60;admin.facilities.edit&#x60;; audited with both snapshots, and the owners are notified.
     * @param facilityId 
     * @param patchedAdminFacilityWrite  (optional)
     * @return AdminFacilityDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFacilityUpdate(facilityId: kotlin.String, patchedAdminFacilityWrite: PatchedAdminFacilityWrite? = null): HttpResponse<AdminFacilityDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = patchedAdminFacilityWrite

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/api/v1/admin/facilities/{facility_id}/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
