/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminPermissionList
import com.servacode.directory.api.multiplatform.models.AdminRole
import com.servacode.directory.api.multiplatform.models.AdminRoleCreateRequest
import com.servacode.directory.api.multiplatform.models.AdminRoleList
import com.servacode.directory.api.multiplatform.models.AdminUser
import com.servacode.directory.api.multiplatform.models.AdminUserCreateRequest
import com.servacode.directory.api.multiplatform.models.AdminUserCreated
import com.servacode.directory.api.multiplatform.models.AdminUserDetail
import com.servacode.directory.api.multiplatform.models.AdminUserList
import com.servacode.directory.api.multiplatform.models.AdminUserRecoverySent
import com.servacode.directory.api.multiplatform.models.AdminUserRolesRequest
import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.PatchedAdminRoleUpdateRequest

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminUsersApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Every permission a role can carry
     * The full catalogue, ordered by code. Labels for display belong to the client.
     * @return AdminPermissionList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminPermissionsList(): HttpResponse<AdminPermissionList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/permissions/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a role with the permissions it carries
     * Requires &#x60;admin.roles.manage&#x60;, which is re-checked inside the handler.
     * @param adminRoleCreateRequest 
     * @return AdminRole
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminRoleCreate(adminRoleCreateRequest: AdminRoleCreateRequest): HttpResponse<AdminRole> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminRoleCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/roles/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete a role nobody holds
     * Refused (409) while any account holds the role, blocked accounts included, so a role is never taken from somebody as a side effect; and for the owner role.
     * @param roleId 
     * @return void
     */
    open suspend fun adminRoleDelete(roleId: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/roles/{role_id}/".replace("{" + "role_id" + "}", "$roleId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Rename a role or change the permissions it carries
     * Omitted fields keep their value. Takes effect for every holder on their next request. Refused (409) for the owner role, and when it would leave nobody able to grant roles.
     * @param roleId 
     * @param patchedAdminRoleUpdateRequest  (optional)
     * @return AdminRole
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminRoleUpdate(roleId: kotlin.Int, patchedAdminRoleUpdateRequest: PatchedAdminRoleUpdateRequest? = null): HttpResponse<AdminRole> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = patchedAdminRoleUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/api/v1/admin/roles/{role_id}/".replace("{" + "role_id" + "}", "$roleId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List admin roles, their permission codes and how many hold each
     * 
     * @return AdminRoleList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminRolesList(): HttpResponse<AdminRoleList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/roles/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Block a user account
     * Blocking also revokes every active refresh session of that user.
     * @param userId 
     * @return AdminUser
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminUserBlock(userId: kotlin.String): HttpResponse<AdminUser> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/users/{user_id}/block/".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Open an account from the console
     * For appointing an operator without a shell on the server. No password is set: the account is opened without a usable one and the person chooses their own through recovery, which &#x60;adminUserRecoverySend&#x60; starts.
     * @param adminUserCreateRequest 
     * @return AdminUserCreated
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminUserCreate(adminUserCreateRequest: AdminUserCreateRequest): HttpResponse<AdminUserCreated> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminUserCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/users/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete an account at its owner&#39;s request
     * For a request made through the site&#39;s deletion page or by email: Google Play requires an account to be deletable from outside the app. The same rules and anonymisation as the app&#39;s own deletion; the sole owner of a live facility is refused with 409 and the reason. Recorded under the operator&#39;s name.
     * @param userId 
     * @return void
     */
    open suspend fun adminUserDelete(userId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/users/{user_id}/delete/".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Clear an operator&#39;s authenticator after they lost it
     * They set up a new one at their next console sign-in. Their recovery codes are cleared too. Audited.
     * @param userId 
     * @return void
     */
    open suspend fun adminUserMfaReset(userId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/users/{user_id}/mfa/reset/".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Send this account a password-recovery code
     * The console never sets a password. This starts the ordinary recovery flow: the code goes to the account&#39;s own number, and the person chooses their own password. Neither the code nor the challenge id is returned, so an operator cannot complete someone else&#39;s recovery.
     * @param userId 
     * @return AdminUserRecoverySent
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminUserRecoverySend(userId: kotlin.String): HttpResponse<AdminUserRecoverySent> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/users/{user_id}/recovery/".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve one user with the roles assigned
     * 
     * @param userId 
     * @return AdminUserDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminUserRetrieve(userId: kotlin.String): HttpResponse<AdminUserDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/users/{user_id}/".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Replace the admin roles of a user
     * Authorization is always re-checked server-side; the Admin UI only hides actions as a convenience.
     * @param userId 
     * @param adminUserRolesRequest 
     * @return void
     */
    open suspend fun adminUserRolesReplace(userId: kotlin.String, adminUserRolesRequest: AdminUserRolesRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminUserRolesRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/users/{user_id}/roles/".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Unblock a user account
     * Blocking also revokes every active refresh session of that user.
     * @param userId 
     * @return AdminUser
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminUserUnblock(userId: kotlin.String): HttpResponse<AdminUser> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/users/{user_id}/unblock/".replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Search user accounts
     * Password hashes and session secret material are never returned. Newest first unless &#x60;ordering&#x60; says otherwise, in cursor pages. Every filter is optional.
     * @param cursor Opaque token returned as &#x60;nextCursor&#x60; by the previous page. (optional)
     * @param id One account by id. What a link to an account written before the console had cards resolves to, so it still arrives at that account alone. (optional)
     * @param kind &#x60;owners&#x60; keeps accounts on at least one facility; &#x60;users&#x60; keeps the rest. (optional)
     * @param limit Page size, maximum 200, default 50. (optional)
     * @param ordering createdAt, -createdAt (the default), name or -name. (optional)
     * @param q Free text matched against the account name and phone number. (optional)
     * @param role Admin role id or code; keeps accounts holding that role actively. The value &#x60;any&#x60; keeps every operator, &#x60;none&#x60; every non-operator. (optional)
     * @param status &#x60;active&#x60; keeps active accounts; any other value keeps blocked accounts. (optional)
     * @return AdminUserList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminUsersList(cursor: kotlin.String? = null, id: kotlin.String? = null, kind: kotlin.String? = null, limit: kotlin.Int? = null, ordering: kotlin.String? = null, q: kotlin.String? = null, role: kotlin.String? = null, status: kotlin.String? = null): HttpResponse<AdminUserList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        id?.apply { localVariableQuery["id"] = listOf("$id") }
        kind?.apply { localVariableQuery["kind"] = listOf("$kind") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        role?.apply { localVariableQuery["role"] = listOf("$role") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/users/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
