/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminAnalytics
import com.servacode.directory.api.multiplatform.models.AdminAnalyticsSeries
import com.servacode.directory.api.multiplatform.models.AdminStaffPerformance
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminAnalyticsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Operational KPIs
     * Period-bound KPIs (approval median and the four event counts) cover &#x60;from&#x60; to &#x60;to&#x60;, by default the last 30 days, and &#x60;previous&#x60; holds the same KPIs for the equally long period just before, for comparison. The remaining fields are current totals.
     * @param from ISO date or datetime; default 30 days before &#x60;to&#x60;. (optional)
     * @param to ISO date or datetime; a bare date includes that whole day. (optional)
     * @return AdminAnalytics
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAnalyticsRetrieve(from: kotlin.String? = null, to: kotlin.String? = null): HttpResponse<AdminAnalytics> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/analytics/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The period&#39;s numbers, one Damascus day at a time
     * Every day from &#x60;from&#x60; to &#x60;to&#x60; is present, a quiet day as zeros. The event series are the same four the period totals count; &#x60;newUsers&#x60; are accounts created, &#x60;approvals&#x60; applications approved and &#x60;reports&#x60; problem reports received.
     * @param from ISO date or datetime; default 30 days before &#x60;to&#x60;. (optional)
     * @param to ISO date or datetime; a bare date includes that whole day. (optional)
     * @return AdminAnalyticsSeries
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAnalyticsSeriesRetrieve(from: kotlin.String? = null, to: kotlin.String? = null): HttpResponse<AdminAnalyticsSeries> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/analytics/series/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Reviewer performance in a period
     * Per reviewer, over applications decided in [&#x60;from&#x60;, &#x60;to&#x60;) (default last 30 days): decisions, approvals, rejections and the median submit-to-decision hours; plus problem reports they resolved or dismissed in the period.
     * @param from  (optional)
     * @param to  (optional)
     * @return AdminStaffPerformance
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAnalyticsStaffRetrieve(from: kotlin.String? = null, to: kotlin.String? = null): HttpResponse<AdminStaffPerformance> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/analytics/staff/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
