/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminDutyRoster
import com.servacode.directory.api.multiplatform.models.AdminDutyShift
import com.servacode.directory.api.multiplatform.models.AdminDutyShiftCreateRequest
import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.DutyImportResult
import com.servacode.directory.api.multiplatform.models.DutyRotation
import com.servacode.directory.api.multiplatform.models.DutyRotationGenerate
import com.servacode.directory.api.multiplatform.models.DutyRotationList
import com.servacode.directory.api.multiplatform.models.DutyRotationRequest
import com.servacode.directory.api.multiplatform.models.PatchedAdminDutyShiftUpdateRequest
import com.servacode.directory.api.multiplatform.models.PatchedDutyRotationRequest

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminDutyApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Read a duty roster from a spreadsheet; preview it, or apply it
     * Columns in Arabic or English: the pharmacy (&#x60;facilityId&#x60;, &#x60;pharmacy&#x60;/&#x60;الصيدلية&#x60; by name, or &#x60;phone&#x60;/&#x60;الهاتف&#x60;) and either &#x60;date&#x60;/&#x60;التاريخ&#x60; with &#x60;from&#x60;/&#x60;من&#x60; and &#x60;to&#x60;/&#x60;إلى&#x60; in Damascus time (an end at or before the start is the next morning), or &#x60;startsAt&#x60; and &#x60;endsAt&#x60;. Every row is checked against the province&#39;s pharmacies and the stored shifts. &#x60;apply&#x60; writes all rows or none, and only when no row has an error; re-applying the same file changes nothing. At most 2000 rows.
     * @param file CSV (UTF-8) or XLSX, first sheet, header row first.
     * @param provinceId 
     * @param apply False previews; true writes, refused if any row has an error. (optional, default to false)
     * @return DutyImportResult
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminDutyImport(file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>, provinceId: kotlin.String, apply: kotlin.Boolean? = false): HttpResponse<DutyImportResult> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            formData {
                file?.apply { append(file) }
                provinceId?.apply { append("provinceId", provinceId) }
                apply?.apply { append("apply", apply) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/duty/import/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * The duty roster of a province (or city), day by day
     * Days are Damascus calendar days from &#x60;from&#x60; to &#x60;to&#x60; inclusive, by default today and the next 13 days, at most 62. Each day lists the shifts of ACTIVE duty pharmacies overlapping it, and &#x60;gap&#x60; is true when there is none: the rule behind the DUTY_GAP alert. With &#x60;cityId&#x60;, shifts and gaps are those of that city&#39;s pharmacies.
     * @param provinceId 
     * @param cityId  (optional)
     * @param from YYYY-MM-DD (optional)
     * @param to YYYY-MM-DD (optional)
     * @return AdminDutyRoster
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminDutyRosterRetrieve(provinceId: kotlin.String, cityId: kotlin.String? = null, from: kotlin.String? = null, to: kotlin.String? = null): HttpResponse<AdminDutyRoster> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cityId?.apply { localVariableQuery["cityId"] = listOf("$cityId") }
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/duty/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Save a duty rotation
     * 
     * @param dutyRotationRequest 
     * @return DutyRotation
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminDutyRotationCreate(dutyRotationRequest: DutyRotationRequest): HttpResponse<DutyRotation> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = dutyRotationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/duty/rotations/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete a saved duty rotation
     * The shifts it generated stay; only the template goes.
     * @param rotationId 
     * @return void
     */
    open suspend fun adminDutyRotationDelete(rotationId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/duty/rotations/{rotation_id}/".replace("{" + "rotation_id" + "}", "$rotationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Generate a period&#39;s shifts from a rotation; preview them, or apply them
     * Up to three months at a time. The same checks and all-or-nothing writing as an import; applying a period twice changes nothing.
     * @param rotationId 
     * @param dutyRotationGenerate 
     * @return DutyImportResult
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminDutyRotationGenerate(rotationId: kotlin.String, dutyRotationGenerate: DutyRotationGenerate): HttpResponse<DutyImportResult> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = dutyRotationGenerate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/duty/rotations/{rotation_id}/generate/".replace("{" + "rotation_id" + "}", "$rotationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Change a saved duty rotation
     * 
     * @param rotationId 
     * @param patchedDutyRotationRequest  (optional)
     * @return DutyRotation
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminDutyRotationUpdate(rotationId: kotlin.String, patchedDutyRotationRequest: PatchedDutyRotationRequest? = null): HttpResponse<DutyRotation> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = patchedDutyRotationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/api/v1/admin/duty/rotations/{rotation_id}/".replace("{" + "rotation_id" + "}", "$rotationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Saved duty rotations
     * 
     * @return DutyRotationList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminDutyRotationsList(): HttpResponse<DutyRotationList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/duty/rotations/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Put a duty shift on a pharmacy&#39;s roster
     * Same rules as the owner endpoint: the category must support duty (409 DUTY_NOT_SUPPORTED), the shift must not overlap another of the same pharmacy or be invalid (409 DUTY_OVERLAP_OR_INVALID) and must not fall in a temporary closure (409 DUTY_DURING_CLOSURE). Recorded with &#x60;createdBy&#x60; ADMIN, audited, and the pharmacy&#39;s owners are notified. Sending a shift identical to an existing one returns it with 200 and changes nothing.
     * @param adminDutyShiftCreateRequest 
     * @return AdminDutyShift
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminDutyShiftCreate(adminDutyShiftCreateRequest: AdminDutyShiftCreateRequest): HttpResponse<AdminDutyShift> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminDutyShiftCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/duty/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Cancel a duty shift
     * Audited; the pharmacy&#39;s owners are notified.
     * @param shiftId 
     * @return void
     */
    open suspend fun adminDutyShiftDelete(shiftId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/duty/{shift_id}/".replace("{" + "shift_id" + "}", "$shiftId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Move a duty shift
     * Same validation as creating one. &#x60;createdBy&#x60; keeps who created the shift. Audited; the pharmacy&#39;s owners are notified when the times change.
     * @param shiftId 
     * @param patchedAdminDutyShiftUpdateRequest  (optional)
     * @return AdminDutyShift
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminDutyShiftUpdate(shiftId: kotlin.String, patchedAdminDutyShiftUpdateRequest: PatchedAdminDutyShiftUpdateRequest? = null): HttpResponse<AdminDutyShift> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = patchedAdminDutyShiftUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/api/v1/admin/duty/{shift_id}/".replace("{" + "shift_id" + "}", "$shiftId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
