/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminFacilityReport
import com.servacode.directory.api.multiplatform.models.AdminFacilityReportList
import com.servacode.directory.api.multiplatform.models.AdminReportBulkRequest
import com.servacode.directory.api.multiplatform.models.AdminReportBulkResponse
import com.servacode.directory.api.multiplatform.models.AdminReportDecisionRequest
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminReportsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Dismiss a report
     * Only OPEN reports can be decided; the decision is audited.
     * @param reportId 
     * @param adminReportDecisionRequest  (optional)
     * @return AdminFacilityReport
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminReportDismiss(reportId: kotlin.String, adminReportDecisionRequest: AdminReportDecisionRequest? = null): HttpResponse<AdminFacilityReport> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminReportDecisionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/reports/{report_id}/dismiss/".replace("{" + "report_id" + "}", "$reportId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Mark a report resolved
     * Only OPEN reports can be decided; the decision is audited.
     * @param reportId 
     * @param adminReportDecisionRequest  (optional)
     * @return AdminFacilityReport
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminReportResolve(reportId: kotlin.String, adminReportDecisionRequest: AdminReportDecisionRequest? = null): HttpResponse<AdminFacilityReport> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminReportDecisionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/reports/{report_id}/resolve/".replace("{" + "report_id" + "}", "$reportId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Resolve or dismiss many reports at once
     * Up to 100 ids, in one transaction: every OPEN report is decided and audited individually, exactly as the single-report endpoints do. An id that does not exist or is no longer OPEN is reported per id (NOT_FOUND, NOT_OPEN) and left alone; it does not fail the others.
     * @param adminReportBulkRequest 
     * @return AdminReportBulkResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminReportsBulkDecide(adminReportBulkRequest: AdminReportBulkRequest): HttpResponse<AdminReportBulkResponse> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminReportBulkRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/reports/bulk/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List facility problem reports
     * Newest first, in cursor pages.
     * @param cursor Opaque token returned as &#x60;nextCursor&#x60; by the previous page. (optional)
     * @param facility Facility id. (optional)
     * @param limit Page size, maximum 200, default 50. (optional)
     * @param status OPEN, RESOLVED or DISMISSED. (optional)
     * @return AdminFacilityReportList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminReportsList(cursor: kotlin.String? = null, facility: kotlin.String? = null, limit: kotlin.Int? = null, status: kotlin.String? = null): HttpResponse<AdminFacilityReportList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        facility?.apply { localVariableQuery["facility"] = listOf("$facility") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/reports/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
