/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminExportsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter format
     */
    @Serializable
    enum class FormatAdminExportAuditCsv(val value: kotlin.String) {
        
        @SerialName(value = "csv")
        csv("csv"),
        
        @SerialName(value = "json")
        json("json")
        
    }

    /**
     * Export the audit trail as CSV
     * Same filters as the audit search, newest first, without its 250 cap. Snapshots are left out; metadata is included as recorded (already redacted).
     * @param action Substring of the action code. (optional)
     * @param actor Actor user id. (optional)
     * @param format  (optional)
     * @param from ISO date or datetime. (optional)
     * @param requestId Exact request correlation id. (optional)
     * @param resource Substring of the target type, or an exact target id. (optional)
     * @param to ISO date or datetime; a bare date includes that whole day. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminExportAuditCsv(action: kotlin.String? = null, actor: kotlin.String? = null, format: FormatAdminExportAuditCsv? = null, from: kotlin.String? = null, requestId: kotlin.String? = null, resource: kotlin.String? = null, to: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        action?.apply { localVariableQuery["action"] = listOf("$action") }
        actor?.apply { localVariableQuery["actor"] = listOf("$actor") }
        format?.apply { localVariableQuery["format"] = listOf("${ format.value }") }
        from?.apply { localVariableQuery["from"] = listOf("$from") }
        requestId?.apply { localVariableQuery["requestId"] = listOf("$requestId") }
        resource?.apply { localVariableQuery["resource"] = listOf("$resource") }
        to?.apply { localVariableQuery["to"] = listOf("$to") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/exports/audit.csv",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter format
     */
    @Serializable
    enum class FormatAdminExportFacilitiesCsv(val value: kotlin.String) {
        
        @SerialName(value = "csv")
        csv("csv"),
        
        @SerialName(value = "json")
        json("json")
        
    }

    /**
     * Export the facility list as CSV
     * Same filters and ordering as the facility list, without its 250 cap.
     * @param category Category id. (optional)
     * @param format  (optional)
     * @param issue One of NO_PHOTOS, NO_HOURS, NO_LOCATION, NO_PHONE, STALE, OPEN_REPORTS, NOT_VERIFIED_RECENTLY. (optional)
     * @param ordering qualityScore, -qualityScore, updatedAt or -updatedAt. (optional)
     * @param province Province id. (optional)
     * @param q Free text matched against the facility names. (optional)
     * @param status Facility status. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminExportFacilitiesCsv(category: kotlin.String? = null, format: FormatAdminExportFacilitiesCsv? = null, issue: kotlin.String? = null, ordering: kotlin.String? = null, province: kotlin.String? = null, q: kotlin.String? = null, status: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        category?.apply { localVariableQuery["category"] = listOf("$category") }
        format?.apply { localVariableQuery["format"] = listOf("${ format.value }") }
        issue?.apply { localVariableQuery["issue"] = listOf("$issue") }
        ordering?.apply { localVariableQuery["ordering"] = listOf("$ordering") }
        province?.apply { localVariableQuery["province"] = listOf("$province") }
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/exports/facilities.csv",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter format
     */
    @Serializable
    enum class FormatAdminExportReportsCsv(val value: kotlin.String) {
        
        @SerialName(value = "csv")
        csv("csv"),
        
        @SerialName(value = "json")
        json("json")
        
    }

    /**
     * Export problem reports as CSV
     * Same filters as the report list, newest first, without its 250 cap.
     * @param facility Facility id. (optional)
     * @param format  (optional)
     * @param status OPEN, RESOLVED or DISMISSED. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminExportReportsCsv(facility: kotlin.String? = null, format: FormatAdminExportReportsCsv? = null, status: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        facility?.apply { localVariableQuery["facility"] = listOf("$facility") }
        format?.apply { localVariableQuery["format"] = listOf("${ format.value }") }
        status?.apply { localVariableQuery["status"] = listOf("$status") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/exports/reports.csv",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
