/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminCapabilities
import com.servacode.directory.api.multiplatform.models.AdminCapabilitiesRequest
import com.servacode.directory.api.multiplatform.models.AdminCategory
import com.servacode.directory.api.multiplatform.models.AdminCategoryCardList
import com.servacode.directory.api.multiplatform.models.AdminCategoryCreateRequest
import com.servacode.directory.api.multiplatform.models.AdminCategoryGroup
import com.servacode.directory.api.multiplatform.models.AdminCategoryGroupList
import com.servacode.directory.api.multiplatform.models.AdminCategoryGroupRequest
import com.servacode.directory.api.multiplatform.models.AdminCategoryProvinceRequest
import com.servacode.directory.api.multiplatform.models.AdminCategoryUpdateRequest
import com.servacode.directory.api.multiplatform.models.AdminId
import com.servacode.directory.api.multiplatform.models.AdminServiceTag
import com.servacode.directory.api.multiplatform.models.AdminServiceTagCreateRequest
import com.servacode.directory.api.multiplatform.models.AdminServiceTagList
import com.servacode.directory.api.multiplatform.models.AdminSpecialty
import com.servacode.directory.api.multiplatform.models.AdminSpecialtyCreateRequest
import com.servacode.directory.api.multiplatform.models.AdminSpecialtyList
import com.servacode.directory.api.multiplatform.models.AdminTagUpdateRequest
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminTaxonomyApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List categories
     * Each category with its capability flags, its province switches and how many facilities it holds: everything its card and settings window show, in one query count whatever the number of categories.
     * @return AdminCategoryCardList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoriesList(): HttpResponse<AdminCategoryCardList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/categories/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Set the capability flags of a category
     * Duty can only be enabled for an approved specialization.
     * @param categoryId 
     * @param adminCapabilitiesRequest  (optional)
     * @return AdminCapabilities
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoryCapabilitiesReplace(categoryId: kotlin.String, adminCapabilitiesRequest: AdminCapabilitiesRequest? = null): HttpResponse<AdminCapabilities> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminCapabilitiesRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/categories/{category_id}/capabilities/".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create a category
     * &#x60;code&#x60; and &#x60;slug&#x60; are fixed at creation and cannot be changed afterwards. A new category is invisible everywhere until its per-province switches are turned on, whatever &#x60;active&#x60; says.
     * @param adminCategoryCreateRequest 
     * @return AdminId
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoryCreate(adminCategoryCreateRequest: AdminCategoryCreateRequest): HttpResponse<AdminId> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminCategoryCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/categories/create/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create a category group
     * Cycle J begins here: a group has to exist before a category can join it.
     * @param adminCategoryGroupRequest  (optional)
     * @return AdminId
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoryGroupCreate(adminCategoryGroupRequest: AdminCategoryGroupRequest? = null): HttpResponse<AdminId> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminCategoryGroupRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/category-groups/create/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Rename, reorder or deactivate a category group
     * The group code is immutable; sending a different one is refused.
     * @param groupId 
     * @param adminCategoryGroupRequest  (optional)
     * @return AdminCategoryGroup
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoryGroupUpdate(groupId: kotlin.String, adminCategoryGroupRequest: AdminCategoryGroupRequest? = null): HttpResponse<AdminCategoryGroup> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminCategoryGroupRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/category-groups/{group_id}/".replace("{" + "group_id" + "}", "$groupId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List category groups
     * 
     * @return AdminCategoryGroupList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoryGroupsList(): HttpResponse<AdminCategoryGroupList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/category-groups/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Set the per-province switches of a category
     * Public visibility and owner onboarding are independent switches.
     * @param categoryId 
     * @param adminCategoryProvinceRequest 
     * @return AdminId
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoryProvinceReplace(categoryId: kotlin.String, adminCategoryProvinceRequest: AdminCategoryProvinceRequest): HttpResponse<AdminId> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminCategoryProvinceRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/categories/{category_id}/provinces/".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Add a service to a category
     * Requires admin.taxonomy.manage, re-checked inside the handler. A name already used in the category is refused, retired services included.
     * @param categoryId 
     * @param adminServiceTagCreateRequest 
     * @return AdminServiceTag
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoryServiceTagCreate(categoryId: kotlin.String, adminServiceTagCreateRequest: AdminServiceTagCreateRequest): HttpResponse<AdminServiceTag> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminServiceTagCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/categories/{category_id}/service-tags/".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List the services of a category
     * Retired ones included, in the order the public sees them.
     * @param categoryId 
     * @return AdminServiceTagList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoryServiceTagsList(categoryId: kotlin.String): HttpResponse<AdminServiceTagList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/categories/{category_id}/service-tags/".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the specialties a category offers, in both scopes
     * The category&#39;s own specialties and those its specialization shares, retired ones included, in the order the public sees them.
     * @param categoryId 
     * @return AdminSpecialtyList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategorySpecialtiesList(categoryId: kotlin.String): HttpResponse<AdminSpecialtyList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/categories/{category_id}/specialties/".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Add a specialty to a category or to its specialization
     * Requires admin.taxonomy.manage, re-checked inside the handler. &#x60;scope&#x60; CATEGORY scopes it to this category; SPECIALIZATION shares it with every category of this category&#39;s specialization and is refused for a GENERIC category. A name already used in the same scope is refused, retired items included.
     * @param categoryId 
     * @param adminSpecialtyCreateRequest 
     * @return AdminSpecialty
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategorySpecialtyCreate(categoryId: kotlin.String, adminSpecialtyCreateRequest: AdminSpecialtyCreateRequest): HttpResponse<AdminSpecialty> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminSpecialtyCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/categories/{category_id}/specialties/".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Rename, move, reorder or deactivate a category
     * &#x60;code&#x60; and &#x60;slug&#x60; are immutable and are not accepted. Changing the specialization re-validates the capability set, so a category that carries duty cannot be moved off PHARMACY while it does.
     * @param categoryId 
     * @param adminCategoryUpdateRequest  (optional)
     * @return AdminCategory
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminCategoryUpdate(categoryId: kotlin.String, adminCategoryUpdateRequest: AdminCategoryUpdateRequest? = null): HttpResponse<AdminCategory> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminCategoryUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/categories/{category_id}/".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete a service no facility lists
     * One that a facility lists answers 409 &#x60;SERVICE_TAG_IN_USE&#x60;; retire it with &#x60;active &#x3D; false&#x60; instead.
     * @param serviceTagId 
     * @return void
     */
    open suspend fun adminServiceTagDelete(serviceTagId: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/service-tags/{service_tag_id}/".replace("{" + "service_tag_id" + "}", "$serviceTagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Rename, reorder, retire or bring back a service
     * Omitted fields keep their value. The category is fixed: &#x60;categoryId&#x60; is refused.
     * @param serviceTagId 
     * @param adminTagUpdateRequest  (optional)
     * @return AdminServiceTag
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminServiceTagUpdate(serviceTagId: kotlin.Int, adminTagUpdateRequest: AdminTagUpdateRequest? = null): HttpResponse<AdminServiceTag> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminTagUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/service-tags/{service_tag_id}/".replace("{" + "service_tag_id" + "}", "$serviceTagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete a specialty no facility lists
     * One that a facility lists answers 409 &#x60;SPECIALTY_IN_USE&#x60;; retire it with &#x60;active &#x3D; false&#x60; instead.
     * @param specialtyId 
     * @return void
     */
    open suspend fun adminSpecialtyDelete(specialtyId: kotlin.Int): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/specialties/{specialty_id}/".replace("{" + "specialty_id" + "}", "$specialtyId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Rename, reorder, retire or bring back a specialty
     * Omitted fields keep their value. The scope is fixed: &#x60;scope&#x60;, &#x60;categoryId&#x60; and &#x60;specialization&#x60; are refused. A specialization&#39;s specialty changes for every category of that specialization.
     * @param specialtyId 
     * @param adminTagUpdateRequest  (optional)
     * @return AdminSpecialty
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminSpecialtyUpdate(specialtyId: kotlin.Int, adminTagUpdateRequest: AdminTagUpdateRequest? = null): HttpResponse<AdminSpecialty> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminTagUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/specialties/{specialty_id}/".replace("{" + "specialty_id" + "}", "$specialtyId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
