/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminAppRelease
import com.servacode.directory.api.multiplatform.models.AdminAppReleaseRequest
import com.servacode.directory.api.multiplatform.models.AdminSettingList
import com.servacode.directory.api.multiplatform.models.AdminSettingWriteRequest
import com.servacode.directory.api.multiplatform.models.AdminSettingWritten
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminSettingsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter platform
     */
    @Serializable
    enum class PlatformAdminAppReleaseRetrieve(val value: kotlin.String) {
        
        @SerialName(value = "ANDROID")
        ANDROID("ANDROID"),
        
        @SerialName(value = "IOS")
        IOS("IOS")
        
    }

    /**
     * What a mobile build must be
     * Zeros mean nothing is enforced, which is what an unset platform reads as.
     * @param platform Defaults to ANDROID. (optional)
     * @return AdminAppRelease
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAppReleaseRetrieve(platform: PlatformAdminAppReleaseRetrieve? = null): HttpResponse<AdminAppRelease> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        platform?.apply { localVariableQuery["platform"] = listOf("${ platform.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/app-release/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter platform
     */
    @Serializable
    enum class PlatformAdminAppReleaseUpdate(val value: kotlin.String) {
        
        @SerialName(value = "ANDROID")
        ANDROID("ANDROID"),
        
        @SerialName(value = "IOS")
        IOS("IOS")
        
    }

    /**
     * Set what a mobile build must be
     * Requires admin.settings.manage, re-checked inside the handler. A minimum above the latest is refused: nobody can install a build that does not exist. Audited.
     * @param adminAppReleaseRequest 
     * @param platform Defaults to ANDROID. (optional)
     * @return AdminAppRelease
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminAppReleaseUpdate(adminAppReleaseRequest: AdminAppReleaseRequest, platform: PlatformAdminAppReleaseUpdate? = null): HttpResponse<AdminAppRelease> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminAppReleaseRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        platform?.apply { localVariableQuery["platform"] = listOf("${ platform.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/app-release/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Create or update a typed platform setting
     * Requires the manage permission, which is re-checked inside the handler.
     * @param adminSettingWriteRequest 
     * @return AdminSettingWritten
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminSettingWrite(adminSettingWriteRequest: AdminSettingWriteRequest): HttpResponse<AdminSettingWritten> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminSettingWriteRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/settings/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List typed platform settings
     * 
     * @return AdminSettingList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminSettingsList(): HttpResponse<AdminSettingList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/settings/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
