/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AdminContactHandleRequest
import com.servacode.directory.api.multiplatform.models.AdminContactMessage
import com.servacode.directory.api.multiplatform.models.AdminContactMessagePage
import com.servacode.directory.api.multiplatform.models.AdminContentPage
import com.servacode.directory.api.multiplatform.models.AdminContentPageCreateRequest
import com.servacode.directory.api.multiplatform.models.AdminContentPageList
import com.servacode.directory.api.multiplatform.models.AdminContentPageUpdateRequest
import com.servacode.directory.api.multiplatform.models.AdminEmergencyNumber
import com.servacode.directory.api.multiplatform.models.AdminEmergencyNumberList
import com.servacode.directory.api.multiplatform.models.AdminEmergencyNumberRequest
import com.servacode.directory.api.multiplatform.models.AdminFaqEntry
import com.servacode.directory.api.multiplatform.models.AdminFaqEntryList
import com.servacode.directory.api.multiplatform.models.AdminFaqEntryRequest
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AdminContentApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Mark a contact message handled
     * Idempotent: a handled message keeps who handled it and when.
     * @param messageId 
     * @param adminContactHandleRequest  (optional)
     * @return AdminContactMessage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminContactMessageHandle(messageId: kotlin.String, adminContactHandleRequest: AdminContactHandleRequest? = null): HttpResponse<AdminContactMessage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminContactHandleRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/contact-messages/{message_id}/handle/".replace("{" + "message_id" + "}", "$messageId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }




    /**
     * enum for parameter kind
     */
    @Serializable
    enum class KindAdminContactMessagesList(val value: kotlin.String) {
        
        @SerialName(value = "CORRECTION")
        CORRECTION("CORRECTION"),
        
        @SerialName(value = "GENERAL")
        GENERAL("GENERAL"),
        
        @SerialName(value = "OWNER")
        OWNER("OWNER")
        
    }


    /**
     * enum for parameter status
     */
    @Serializable
    enum class StatusAdminContactMessagesList(val value: kotlin.String) {
        
        @SerialName(value = "handled")
        handled("handled"),
        
        @SerialName(value = "open")
        `open`("open")
        
    }

    /**
     * The contact inbox, newest first
     * 
     * @param cursor  (optional)
     * @param kind  (optional)
     * @param limit  (optional)
     * @param status &#x60;open&#x60; keeps unhandled messages, &#x60;handled&#x60; the rest. (optional)
     * @return AdminContactMessagePage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminContactMessagesList(cursor: kotlin.String? = null, kind: KindAdminContactMessagesList? = null, limit: kotlin.Int? = null, status: StatusAdminContactMessagesList? = null): HttpResponse<AdminContactMessagePage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        kind?.apply { localVariableQuery["kind"] = listOf("${ kind.value }") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        status?.apply { localVariableQuery["status"] = listOf("${ status.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/contact-messages/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a content page
     * 409 CONTENT_PAGE_EXISTS when the slug is taken (case-insensitive).
     * @param adminContentPageCreateRequest 
     * @return AdminContentPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminContentPageCreate(adminContentPageCreateRequest: AdminContentPageCreateRequest): HttpResponse<AdminContentPage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminContentPageCreateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/content/pages/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete a content page and all its versions
     * 409 CONTENT_PAGE_BUILT_IN for the six built-in pages: unpublish them.
     * @param slug 
     * @return void
     */
    open suspend fun adminContentPageDelete(slug: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/content/pages/{slug}/".replace("{" + "slug" + "}", "$slug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve a content page with its newest words
     * 
     * @param slug 
     * @return AdminContentPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminContentPageRetrieve(slug: kotlin.String): HttpResponse<AdminContentPage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/content/pages/{slug}/".replace("{" + "slug" + "}", "$slug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edit, publish or unpublish a content page
     * Changing the words of a page that was ever published writes a new version and keeps the old one as history; until &#x60;published: true&#x60; is sent the live version stays as it was (&#x60;hasUnpublishedChanges&#x60;). &#x60;published: false&#x60; takes the page offline. Omitted fields keep their value.
     * @param slug 
     * @param adminContentPageUpdateRequest  (optional)
     * @return AdminContentPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminContentPageUpdate(slug: kotlin.String, adminContentPageUpdateRequest: AdminContentPageUpdateRequest? = null): HttpResponse<AdminContentPage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminContentPageUpdateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/content/pages/{slug}/".replace("{" + "slug" + "}", "$slug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List content pages, including the built-in legal pages
     * 
     * @return AdminContentPageList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminContentPagesList(): HttpResponse<AdminContentPageList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/content/pages/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Add an emergency number
     * No &#x60;provinceId&#x60; (or null) makes it national.
     * @param adminEmergencyNumberRequest 
     * @return AdminEmergencyNumber
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminEmergencyNumberCreate(adminEmergencyNumberRequest: AdminEmergencyNumberRequest): HttpResponse<AdminEmergencyNumber> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminEmergencyNumberRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/emergency-numbers/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete an emergency number
     * 
     * @param numberId 
     * @return void
     */
    open suspend fun adminEmergencyNumberDelete(numberId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/emergency-numbers/{number_id}/".replace("{" + "number_id" + "}", "$numberId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edit, move, reorder or deactivate an emergency number
     * Omitted fields keep their value; &#x60;provinceId: null&#x60; makes it national.
     * @param numberId 
     * @param adminEmergencyNumberRequest 
     * @return AdminEmergencyNumber
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminEmergencyNumberUpdate(numberId: kotlin.String, adminEmergencyNumberRequest: AdminEmergencyNumberRequest): HttpResponse<AdminEmergencyNumber> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminEmergencyNumberRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/emergency-numbers/{number_id}/".replace("{" + "number_id" + "}", "$numberId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List emergency numbers, national and provincial, active or not
     * 
     * @param provinceId Keep this province&#39;s numbers; &#x60;national&#x60; keeps national ones. (optional)
     * @return AdminEmergencyNumberList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminEmergencyNumbersList(provinceId: kotlin.String? = null): HttpResponse<AdminEmergencyNumberList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/emergency-numbers/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List FAQ entries, published or not
     * 
     * @return AdminFaqEntryList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFaqEntriesList(): HttpResponse<AdminFaqEntryList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/admin/content/faq/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Add a FAQ entry
     * 
     * @param adminFaqEntryRequest 
     * @return AdminFaqEntry
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFaqEntryCreate(adminFaqEntryRequest: AdminFaqEntryRequest): HttpResponse<AdminFaqEntry> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminFaqEntryRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/admin/content/faq/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Delete a FAQ entry
     * 
     * @param entryId 
     * @return void
     */
    open suspend fun adminFaqEntryDelete(entryId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/admin/content/faq/{entry_id}/".replace("{" + "entry_id" + "}", "$entryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Edit, reorder, publish or unpublish a FAQ entry
     * Omitted fields keep their value.
     * @param entryId 
     * @param adminFaqEntryRequest 
     * @return AdminFaqEntry
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun adminFaqEntryUpdate(entryId: kotlin.String, adminFaqEntryRequest: AdminFaqEntryRequest): HttpResponse<AdminFaqEntry> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = adminFaqEntryRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/admin/content/faq/{entry_id}/".replace("{" + "entry_id" + "}", "$entryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
