/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.AnalyticsEventAccepted
import com.servacode.directory.api.multiplatform.models.AnalyticsEventRequest
import com.servacode.directory.api.multiplatform.models.ApiError

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AnalyticsApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Record a product analytics event
     * The event name must exist in the central registry and its properties are checked against the keys declared for that event. Forbidden keys such as raw coordinates, phone numbers and tokens are rejected rather than stored.
     * @param analyticsEventRequest 
     * @param xAnonymousId Client-generated pseudonymous id for unauthenticated callers. (optional)
     * @return AnalyticsEventAccepted
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun analyticsEventCreate(analyticsEventRequest: AnalyticsEventRequest, xAnonymousId: kotlin.String? = null): HttpResponse<AnalyticsEventAccepted> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = analyticsEventRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xAnonymousId?.apply { localVariableHeaders["X-Anonymous-Id"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/analytics/events/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
