/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.ChallengeAccepted
import com.servacode.directory.api.multiplatform.models.ChallengeVerified
import com.servacode.directory.api.multiplatform.models.ChallengeVerify
import com.servacode.directory.api.multiplatform.models.Login
import com.servacode.directory.api.multiplatform.models.LogoutRequest
import com.servacode.directory.api.multiplatform.models.RecoveryReset
import com.servacode.directory.api.multiplatform.models.RecoveryStart
import com.servacode.directory.api.multiplatform.models.Refresh
import com.servacode.directory.api.multiplatform.models.RegisterComplete
import com.servacode.directory.api.multiplatform.models.RegisterStart
import com.servacode.directory.api.multiplatform.models.SessionCredentials
import com.servacode.directory.api.multiplatform.models.UserSessionList

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class AuthApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Exchange phone and password for session credentials
     * 
     * @param login 
     * @return SessionCredentials
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authLogin(login: Login): HttpResponse<SessionCredentials> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = login

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/login/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Revoke one session
     * 
     * @param logoutRequest 
     * @return void
     */
    open suspend fun authLogout(logoutRequest: LogoutRequest): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = logoutRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/logout/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Revoke every session belonging to the caller
     * 
     * @return void
     */
    open suspend fun authLogoutAll(): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/logout-all/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Set a new password using a verified recovery challenge
     * A successful reset revokes every existing session for that user.
     * @param recoveryReset 
     * @return void
     */
    open suspend fun authRecoveryReset(recoveryReset: RecoveryReset): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = recoveryReset

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/recovery/reset/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Start password recovery by requesting an OTP challenge
     * 
     * @param recoveryStart 
     * @return ChallengeAccepted
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authRecoveryStart(recoveryStart: RecoveryStart): HttpResponse<ChallengeAccepted> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = recoveryStart

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/recovery/start/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Verify the recovery OTP code
     * 
     * @param challengeVerify 
     * @return ChallengeVerified
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authRecoveryVerify(challengeVerify: ChallengeVerify): HttpResponse<ChallengeVerified> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = challengeVerify

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/recovery/verify/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Rotate the refresh secret and issue a new access token
     * The supplied secret is rotated on every successful call. Replaying a secret outside the short concurrency grace window is treated as compromise and revokes every session belonging to the user.
     * @param refresh 
     * @return SessionCredentials
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authRefresh(refresh: Refresh): HttpResponse<SessionCredentials> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = refresh

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/refresh/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Set the password and open the first session
     * 
     * @param registerComplete 
     * @return SessionCredentials
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authRegisterComplete(registerComplete: RegisterComplete): HttpResponse<SessionCredentials> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = registerComplete

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/register/complete/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Start registration by requesting an OTP challenge
     * Accepts 09XXXXXXXX, +9639XXXXXXXX or 009639XXXXXXXX and normalises to the canonical form. The OTP code is delivered by the configured provider and is never returned in the response.
     * @param registerStart 
     * @return ChallengeAccepted
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authRegisterStart(registerStart: RegisterStart): HttpResponse<ChallengeAccepted> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = registerStart

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/register/start/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Verify the registration OTP code
     * 
     * @param challengeVerify 
     * @return ChallengeVerified
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authRegisterVerify(challengeVerify: ChallengeVerify): HttpResponse<ChallengeVerified> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = challengeVerify

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/auth/register/verify/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Revoke a specific session of the caller
     * 
     * @param sessionId 
     * @return void
     */
    open suspend fun authSessionRevoke(sessionId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/auth/sessions/{session_id}/".replace("{" + "session_id" + "}", "$sessionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the sessions and devices of the caller
     * Session secrets are never returned, only metadata and revocation state.
     * @return UserSessionList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun authSessionsList(): HttpResponse<UserSessionList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/auth/sessions/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
