/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.AppRelease
import com.servacode.directory.api.multiplatform.models.ContactMessageCreated
import com.servacode.directory.api.multiplatform.models.ContactMessageRequest
import com.servacode.directory.api.multiplatform.models.ContentPage
import com.servacode.directory.api.multiplatform.models.EmergencyNumberList
import com.servacode.directory.api.multiplatform.models.FaqList
import com.servacode.directory.api.multiplatform.models.LegalDocument
import com.servacode.directory.api.multiplatform.models.LegalDocumentList

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class ContentApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)


    /**
     * enum for parameter platform
     */
    @Serializable
    enum class PlatformPublicAppReleaseRetrieve(val value: kotlin.String) {
        
        @SerialName(value = "ANDROID")
        ANDROID("ANDROID"),
        
        @SerialName(value = "IOS")
        IOS("IOS")
        
    }

    /**
     * The minimum and newest build of the mobile app
     * A build below &#x60;minimumVersionCode&#x60; must stop and show &#x60;noticeAr&#x60;. A build below &#x60;latestVersionCode&#x60; may offer an update and carry on. Both are zero until an operator sets them, and zero blocks nothing. Cacheable for five minutes.
     * @param platform Defaults to ANDROID. (optional)
     * @return AppRelease
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicAppReleaseRetrieve(platform: PlatformPublicAppReleaseRetrieve? = null): HttpResponse<AppRelease> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        platform?.apply { localVariableQuery["platform"] = listOf("${ platform.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/app-release/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Send a message to the platform team
     * Anonymous or signed in; a signed-in sender is linked to their account. Strictly throttled per account or per client address (3/hour by default). The client address is taken from X-Forwarded-For only when the server is configured with the number of trusted proxies.
     * @param contactMessageRequest 
     * @return ContactMessageCreated
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicContactCreate(contactMessageRequest: ContactMessageRequest): HttpResponse<ContactMessageCreated> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = contactMessageRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/contact/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Retrieve one published content page
     * Only the published version is served; an unpublished or unknown slug is 404. Cacheable for five minutes (&#x60;Cache-Control: public, max-age&#x3D;300&#x60;).
     * @param slug 
     * @return ContentPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicContentPageRetrieve(slug: kotlin.String): HttpResponse<ContentPage> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/content/pages/{slug}/".replace("{" + "slug" + "}", "$slug"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Emergency numbers: national, plus the province&#39;s own
     * National numbers come first, then those of &#x60;provinceId&#x60; when one is given. Cacheable for five minutes.
     * @param provinceId Also include this province&#39;s numbers. (optional)
     * @return EmergencyNumberList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicEmergencyNumbersList(provinceId: kotlin.String? = null): HttpResponse<EmergencyNumberList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/emergency-numbers/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the published questions and answers, in order
     * Cacheable for five minutes (&#x60;Cache-Control: public, max-age&#x3D;300&#x60;).
     * @return FaqList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicFaqList(): HttpResponse<FaqList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/content/faq/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve one published page
     * One published page, in full.
     * @param key 
     * @return LegalDocument
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicLegalDocumentRetrieve(key: kotlin.String): HttpResponse<LegalDocument> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/legal/{key}/".replace("{" + "key" + "}", "$key"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the published pages
     * Titles and versions only. A client compares the version it cached with the one here and fetches a page&#39;s words only when they have changed.
     * @return LegalDocumentList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicLegalDocumentsList(): HttpResponse<LegalDocumentList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/legal/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
