/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.DutyShift
import com.servacode.directory.api.multiplatform.models.DutyShiftInput
import com.servacode.directory.api.multiplatform.models.DutyShiftList
import com.servacode.directory.api.multiplatform.models.PatchedDutyShiftInput

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class DutyApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Schedule a duty shift
     * Overlapping shifts for the same facility are refused by a PostgreSQL exclusion constraint, not only by application code. Only categories that declare the duty capability accept this, and a shift may not overlap a temporary closure of the facility (409 DUTY_DURING_CLOSURE).
     * @param facilityId 
     * @param dutyShiftInput 
     * @return DutyShift
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityDutyCreate(facilityId: kotlin.String, dutyShiftInput: DutyShiftInput): HttpResponse<DutyShift> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = dutyShiftInput

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/facilities/{facility_id}/duty/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Remove a duty shift
     * 
     * @param facilityId 
     * @param shiftId 
     * @return void
     */
    open suspend fun ownerFacilityDutyDelete(facilityId: kotlin.String, shiftId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/owner/facilities/{facility_id}/duty/{shift_id}/".replace("{" + "facility_id" + "}", "$facilityId").replace("{" + "shift_id" + "}", "$shiftId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List duty shifts of a facility
     * 
     * @param facilityId 
     * @return DutyShiftList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityDutyList(facilityId: kotlin.String): HttpResponse<DutyShiftList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/facilities/{facility_id}/duty/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Adjust a duty shift
     * 
     * @param facilityId 
     * @param shiftId 
     * @param patchedDutyShiftInput  (optional)
     * @return DutyShift
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityDutyUpdate(facilityId: kotlin.String, shiftId: kotlin.String, patchedDutyShiftInput: PatchedDutyShiftInput? = null): HttpResponse<DutyShift> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = patchedDutyShiftInput

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/api/v1/owner/facilities/{facility_id}/duty/{shift_id}/".replace("{" + "facility_id" + "}", "$facilityId").replace("{" + "shift_id" + "}", "$shiftId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
