/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.ClaimEvidence
import com.servacode.directory.api.multiplatform.models.OwnerEvidenceCreated
import com.servacode.directory.api.multiplatform.models.OwnerFacilityImage
import com.servacode.directory.api.multiplatform.models.OwnerFacilityImageList

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class MediaApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Upload a verification document for a claim
     * Private, like a facility&#39;s own documents. It belongs to the claim until the claim is approved, and is deleted if the claim is withdrawn or rejected.
     * @param claimId 
     * @param requirementId 
     * @param file 
     * @return ClaimEvidence
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerClaimEvidenceCreate(claimId: kotlin.String, requirementId: kotlin.Int, file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>): HttpResponse<ClaimEvidence> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            formData {
                requirementId?.apply { append("requirementId", requirementId) }
                file?.apply { append(file) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/claims/{claim_id}/evidence/".replace("{" + "claim_id" + "}", "$claimId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Remove a document from a claim not yet sent
     * 
     * @param claimId 
     * @param evidenceId 
     * @return void
     */
    open suspend fun ownerClaimEvidenceDelete(claimId: kotlin.String, evidenceId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/owner/claims/{claim_id}/evidence/{evidence_id}/".replace("{" + "claim_id" + "}", "$claimId").replace("{" + "evidence_id" + "}", "$evidenceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Upload private verification evidence
     * Sent as multipart/form-data and stored in the private namespace. The response carries identifiers only: evidence is never served through a public URL and its storage key is never returned.
     * @param facilityId 
     * @param requirementId 
     * @param file 
     * @return OwnerEvidenceCreated
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityEvidenceCreate(facilityId: kotlin.String, requirementId: kotlin.Int, file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>): HttpResponse<OwnerEvidenceCreated> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            formData {
                requirementId?.apply { append("requirementId", requirementId) }
                file?.apply { append(file) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/facilities/{facility_id}/evidence/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a piece of verification evidence
     * Evidence is locked while an application is under review.
     * @param evidenceId 
     * @param facilityId 
     * @return void
     */
    open suspend fun ownerFacilityEvidenceDelete(evidenceId: kotlin.String, facilityId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/owner/facilities/{facility_id}/evidence/{evidence_id}/".replace("{" + "evidence_id" + "}", "$evidenceId").replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Upload a public facility image
     * Sent as multipart/form-data. The server decodes the file, enforces byte and pixel limits, re-encodes to JPEG, strips metadata and stores it under a random key. The declared extension and MIME type are not trusted.
     * @param facilityId 
     * @param file 
     * @return OwnerFacilityImage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityImageCreate(facilityId: kotlin.String, file: io.ktor.client.request.forms.FormPart<io.ktor.client.request.forms.InputProvider>): HttpResponse<OwnerFacilityImage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            formData {
                file?.apply { append(file) }
            }

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/facilities/{facility_id}/images/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return multipartFormRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Delete a public facility image
     * 
     * @param facilityId 
     * @param imageId 
     * @return void
     */
    open suspend fun ownerFacilityImageDelete(facilityId: kotlin.String, imageId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/owner/facilities/{facility_id}/images/{image_id}/".replace("{" + "facility_id" + "}", "$facilityId").replace("{" + "image_id" + "}", "$imageId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the public images of a facility
     * 
     * @param facilityId 
     * @return OwnerFacilityImageList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityImagesList(facilityId: kotlin.String): HttpResponse<OwnerFacilityImageList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/facilities/{facility_id}/images/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
