/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.Claim
import com.servacode.directory.api.multiplatform.models.ClaimList
import com.servacode.directory.api.multiplatform.models.ClaimStart
import com.servacode.directory.api.multiplatform.models.ClaimableFacilityList
import com.servacode.directory.api.multiplatform.models.FacilityCreate
import com.servacode.directory.api.multiplatform.models.FacilityLocation
import com.servacode.directory.api.multiplatform.models.FacilityMember
import com.servacode.directory.api.multiplatform.models.Invitation
import com.servacode.directory.api.multiplatform.models.InvitationList
import com.servacode.directory.api.multiplatform.models.InvitationRequest
import com.servacode.directory.api.multiplatform.models.OwnerConfig
import com.servacode.directory.api.multiplatform.models.OwnerFacilityDetail
import com.servacode.directory.api.multiplatform.models.OwnerFacilityInsights
import com.servacode.directory.api.multiplatform.models.OwnerFacilitySummaryList
import com.servacode.directory.api.multiplatform.models.OwnerHoursConfirmed
import com.servacode.directory.api.multiplatform.models.OwnerMemberList
import com.servacode.directory.api.multiplatform.models.OwnerMemberUpserted
import com.servacode.directory.api.multiplatform.models.OwnerSubmitResult
import com.servacode.directory.api.multiplatform.models.PatchedFacilityPatch

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class OwnerApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * One of this account&#39;s claims
     * 
     * @param claimId 
     * @return Claim
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerClaimRetrieve(claimId: kotlin.String): HttpResponse<Claim> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/claims/{claim_id}/".replace("{" + "claim_id" + "}", "$claimId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Start claiming a facility
     * Returns the open claim this account already has for the facility, if any. 404 when the facility is not claimable; 409 FACILITY_ALREADY_OWNED when it has an owner, TOO_MANY_CLAIMS past five open claims.
     * @param claimStart 
     * @return Claim
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerClaimStart(claimStart: ClaimStart): HttpResponse<Claim> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = claimStart

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/claims/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Send a claim for review
     * Every required document must be uploaded to the claim. 409 CLAIM_PENDING while another claim on the same facility is being reviewed; FACILITY_ALREADY_OWNED if it gained an owner meanwhile.
     * @param claimId 
     * @return Claim
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerClaimSubmit(claimId: kotlin.String): HttpResponse<Claim> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/claims/{claim_id}/submit/".replace("{" + "claim_id" + "}", "$claimId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Withdraw a claim and delete its documents
     * 
     * @param claimId 
     * @return void
     */
    open suspend fun ownerClaimWithdraw(claimId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/owner/claims/{claim_id}/".replace("{" + "claim_id" + "}", "$claimId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Find a published facility nobody owns yet
     * For «هذه منشأتي». Matches the Arabic or English name, Arabic spelling folded as in search. At most 20 results; &#x60;q&#x60; needs two characters.
     * @param q 
     * @param categoryId Keep facilities of this category. (optional)
     * @param provinceId Keep facilities in this province. (optional)
     * @return ClaimableFacilityList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerClaimableFacilitiesList(q: kotlin.String, categoryId: kotlin.String? = null, provinceId: kotlin.String? = null): HttpResponse<ClaimableFacilityList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        categoryId?.apply { localVariableQuery["categoryId"] = listOf("$categoryId") }
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/claimable-facilities/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * This account&#39;s claims, newest first
     * 
     * @return ClaimList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerClaimsList(): HttpResponse<ClaimList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/claims/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List categories open for owner onboarding in a province
     * Returns only categories whose per-province owner switch is on and whose capability set allows onboarding, together with the safe descriptors of the verification requirements the owner will have to satisfy, and the specialties and services the owner may pick for a facility of each.
     * @param provinceId Province to inspect.
     * @return OwnerConfig
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerConfigRetrieve(provinceId: kotlin.String): HttpResponse<OwnerConfig> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/config/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List the facilities the caller belongs to
     * 
     * @return OwnerFacilitySummaryList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilitiesList(): HttpResponse<OwnerFacilitySummaryList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/facilities/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Create a facility draft
     * The caller becomes the owner of the new draft. Creation re-checks the current province and category onboarding policy rather than any cached value.
     * @param facilityCreate 
     * @return OwnerFacilityDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityCreate(facilityCreate: FacilityCreate): HttpResponse<OwnerFacilityDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = facilityCreate

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/facilities/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Confirm that the facility&#39;s opening hours are still right
     * Any owner or manager may confirm. Sets &#x60;hoursConfirmedAt&#x60;, which also moves the public &#x60;infoConfirmedAt&#x60;; &#x60;lastVerifiedAt&#x60; keeps meaning an operator approval. Replacing the hours confirms them too. 409 HOURS_NOT_SUPPORTED when the category has no opening hours.
     * @param facilityId 
     * @return OwnerHoursConfirmed
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityHoursConfirm(facilityId: kotlin.String): HttpResponse<OwnerHoursConfirmed> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/facilities/{facility_id}/confirm-hours/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Engagement with a facility over the last 30 days
     * Counts of product analytics events that reference this facility.
     * @param facilityId 
     * @return OwnerFacilityInsights
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityInsightsRetrieve(facilityId: kotlin.String): HttpResponse<OwnerFacilityInsights> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/facilities/{facility_id}/insights/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Invite someone to help run a facility, by phone number
     * Owners only. The answer is the same whether or not the number has an account, so this cannot be used to find out who is registered. A person with an account is notified at once; anyone else finds the invitation when they sign up with that number. It lasts seven days; inviting the same number again renews it. 409 ALREADY_MEMBER when the number belongs to a member already.
     * @param facilityId 
     * @param invitationRequest 
     * @return Invitation
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityInvitationCreate(facilityId: kotlin.String, invitationRequest: InvitationRequest): HttpResponse<Invitation> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = invitationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/facilities/{facility_id}/invitations/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Withdraw an invitation that has not been answered
     * 
     * @param facilityId 
     * @param invitationId 
     * @return void
     */
    open suspend fun ownerFacilityInvitationRevoke(facilityId: kotlin.String, invitationId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/owner/facilities/{facility_id}/invitations/{invitation_id}/".replace("{" + "facility_id" + "}", "$facilityId").replace("{" + "invitation_id" + "}", "$invitationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Invitations sent for a facility
     * Owners only. Newest first.
     * @param facilityId 
     * @return InvitationList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityInvitationsList(facilityId: kotlin.String): HttpResponse<InvitationList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/facilities/{facility_id}/invitations/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Set the map point of a facility
     * WGS84 decimal degrees. PostGIS remains the source of truth for geo. On an ACTIVE facility the new point waits for review and the published one stays.
     * @param facilityId 
     * @param facilityLocation 
     * @return OwnerFacilityDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityLocationReplace(facilityId: kotlin.String, facilityLocation: FacilityLocation): HttpResponse<OwnerFacilityDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = facilityLocation

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/api/v1/owner/facilities/{facility_id}/location/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * Remove a member from a facility
     * Only an owner may call this, and the last owner cannot be removed.
     * @param facilityId 
     * @param userId 
     * @return void
     */
    open suspend fun ownerFacilityMemberDelete(facilityId: kotlin.String, userId: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/api/v1/owner/facilities/{facility_id}/members/{user_id}/".replace("{" + "facility_id" + "}", "$facilityId").replace("{" + "user_id" + "}", "$userId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Add a member or change a member role
     * Only an owner may call this, and the last owner cannot be demoted. Adding a new member by account id is deprecated: invite them by phone number with ownerFacilityInvitationCreate, which they accept themselves. Changing the role of an existing member stays here.
     * @param facilityId 
     * @param facilityMember 
     * @return OwnerMemberUpserted
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityMemberUpsert(facilityId: kotlin.String, facilityMember: FacilityMember): HttpResponse<OwnerMemberUpserted> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = facilityMember

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/facilities/{facility_id}/members/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * List the members of a facility
     * 
     * @param facilityId 
     * @return OwnerMemberList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityMembersList(facilityId: kotlin.String): HttpResponse<OwnerMemberList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/facilities/{facility_id}/members/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve one facility the caller belongs to
     * 
     * @param facilityId 
     * @return OwnerFacilityDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityRetrieve(facilityId: kotlin.String): HttpResponse<OwnerFacilityDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/owner/facilities/{facility_id}/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Submit a facility for review
     * Submission re-validates the current onboarding policy and the completeness of the current evidence requirements. Only one submitted application of a given kind can exist per facility at a time. An ACTIVE facility is never taken down to be reviewed: its edits are sent as they are saved, and submitting answers with the change already waiting, or 400 when there is none.
     * @param facilityId 
     * @return OwnerSubmitResult
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilitySubmit(facilityId: kotlin.String): HttpResponse<OwnerSubmitResult> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/api/v1/owner/facilities/{facility_id}/submit/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Update the core fields of a facility
     * On an ACTIVE facility the facility stays published: its name, address, city, neighbourhood and map point wait for an operator as a CHANGE application (&#x60;pendingChange&#x60; in the response), and every other field applies at once. A second edit while one waits is merged into it. Elsewhere the edit applies as it stands and is reviewed at the next submission.
     * @param facilityId 
     * @param patchedFacilityPatch  (optional)
     * @return OwnerFacilityDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun ownerFacilityUpdate(facilityId: kotlin.String, patchedFacilityPatch: PatchedFacilityPatch? = null): HttpResponse<OwnerFacilityDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = patchedFacilityPatch

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/api/v1/owner/facilities/{facility_id}/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
