/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.PublicCategoryList
import com.servacode.directory.api.multiplatform.models.PublicCategoryTags
import com.servacode.directory.api.multiplatform.models.PublicCityList
import com.servacode.directory.api.multiplatform.models.PublicLocationResolve
import com.servacode.directory.api.multiplatform.models.PublicProvinceList

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PublicTaxonomyApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * List the specialties and services a category offers
     * The choices behind the specialty and service filters: active items only, in the operators&#39; order. Specialties are the category&#39;s own plus those shared by its specialization. Whether to offer each filter is still decided by the category&#39;s &#x60;specialtyFilter&#x60; and &#x60;serviceFilter&#x60; capabilities. A category that is not public in any province is 404. Cacheable for five minutes (&#x60;Cache-Control: public, max-age&#x3D;300&#x60;).
     * @param categoryId 
     * @return PublicCategoryTags
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicCategoryTagsRetrieve(categoryId: kotlin.String): HttpResponse<PublicCategoryTags> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/categories/{category_id}/tags/".replace("{" + "category_id" + "}", "$categoryId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Resolve a coordinate to a province, city and neighbourhood
     * Point-in-polygon against the seeded city and neighbourhood boundaries, then the nearest active province centre within 200 km. No external geocoder is called and the coordinate is not stored.
     * @param latitude 
     * @param longitude 
     * @return PublicLocationResolve
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicLocationResolve(latitude: kotlin.Double, longitude: kotlin.Double): HttpResponse<PublicLocationResolve> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        latitude?.apply { localVariableQuery["latitude"] = listOf("$latitude") }
        longitude?.apply { localVariableQuery["longitude"] = listOf("$longitude") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/locations/resolve/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List categories publicly enabled for a province
     * A category is listed only when the province is active, the group and the category are active, and the per-province public switch is on. Clients drive their UI from the returned capability flags, never from the category name.
     * @param provinceId 
     * @return PublicCategoryList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicProvinceCategoriesList(provinceId: kotlin.String): HttpResponse<PublicCategoryList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/provinces/{province_id}/categories/".replace("{" + "province_id" + "}", "$provinceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List active cities in a province
     * 
     * @param provinceId 
     * @return PublicCityList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicProvinceCitiesList(provinceId: kotlin.String): HttpResponse<PublicCityList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/provinces/{province_id}/cities/".replace("{" + "province_id" + "}", "$provinceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List active provinces
     * Every province is seeded, but only active ones are publicly visible. Ordered by sort order then Arabic name.
     * @return PublicProvinceList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicProvincesList(): HttpResponse<PublicProvinceList> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/provinces/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
