/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.servacode.directory.api.multiplatform.apis

import com.servacode.directory.api.multiplatform.models.ApiError
import com.servacode.directory.api.multiplatform.models.FacilityCursorPage
import com.servacode.directory.api.multiplatform.models.MapMarkerList
import com.servacode.directory.api.multiplatform.models.PublicDutyRoster
import com.servacode.directory.api.multiplatform.models.PublicFacilityDetail
import com.servacode.directory.api.multiplatform.models.PublicHome

import com.servacode.directory.api.multiplatform.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class PublicDiscoveryApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * Pharmacies on duty on a given day (or up to 7 days)
     * Days are Damascus calendar days starting at &#x60;date&#x60; (default today). A pharmacy is listed on every day one of its duty shifts overlaps. Same visibility as the public duty-now listing. Cacheable for one minute.
     * @param provinceId 
     * @param categoryId  (optional)
     * @param cityId  (optional)
     * @param date YYYY-MM-DD (optional)
     * @param days 1 to 7. (optional)
     * @return PublicDutyRoster
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicDutyByDateList(provinceId: kotlin.String, categoryId: kotlin.String? = null, cityId: kotlin.String? = null, date: kotlin.String? = null, days: kotlin.Int? = null): HttpResponse<PublicDutyRoster> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        categoryId?.apply { localVariableQuery["categoryId"] = listOf("$categoryId") }
        cityId?.apply { localVariableQuery["cityId"] = listOf("$cityId") }
        date?.apply { localVariableQuery["date"] = listOf("$date") }
        days?.apply { localVariableQuery["days"] = listOf("$days") }
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/duty/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List publicly visible facilities in a province, optionally in one category
     * Ordered nearest-first when coordinates are supplied, otherwise by Arabic name. Availability is computed by the backend. The filters combine: openNow and dutyToday together mean facilities that are both, which is a different question from either alone.
     * @param provinceId Province to scope the query to.
     * @param bbox Viewport as west,south,east,north in WGS84 decimal degrees. (optional)
     * @param categoryId Optional category to list. Absent means the whole province. (optional)
     * @param cityId Optional city filter. (optional)
     * @param cursor Opaque token returned as &#x60;nextCursor&#x60; by the previous page. (optional)
     * @param dutyNow Pass true to keep only facilities whose duty shift is running. (optional)
     * @param dutyToday Pass true to keep only facilities on today&#39;s duty roster. (optional)
     * @param latitude Caller latitude in WGS84 decimal degrees. Must be sent with longitude. (optional)
     * @param limit Page size, maximum 100, default 30. (optional)
     * @param longitude Caller longitude in WGS84 decimal degrees. Must be sent with latitude. (optional)
     * @param neighborhoodId Optional neighbourhood filter. (optional)
     * @param openNow Pass true to keep only facilities open at this moment. (optional)
     * @param search Free-text term matched against facility text. (optional)
     * @param serviceId The earlier name of serviceTagId, still accepted; it behaves the same way. (optional)
     * @param serviceTagId Optional service filter, an id from publicCategoryTagsRetrieve. Only facilities whose category declares serviceFilter can match. Anything but a positive whole number is refused with 400. (optional)
     * @param sort nearest orders by distance and needs coordinates; name orders by Arabic name. Omitted keeps the historical behaviour: nearest whenever coordinates are supplied, name otherwise. Distances are returned whenever coordinates are supplied, whichever ordering is asked for. (optional)
     * @param specialtyId Optional specialty filter, an id from publicCategoryTagsRetrieve. Only facilities whose category declares specialtyFilter can match. Anything but a positive whole number is refused with 400. (optional)
     * @return FacilityCursorPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicFacilitiesList(provinceId: kotlin.String, bbox: kotlin.String? = null, categoryId: kotlin.String? = null, cityId: kotlin.String? = null, cursor: kotlin.String? = null, dutyNow: kotlin.String? = null, dutyToday: kotlin.String? = null, latitude: kotlin.String? = null, limit: kotlin.Int? = null, longitude: kotlin.String? = null, neighborhoodId: kotlin.String? = null, openNow: kotlin.String? = null, search: kotlin.String? = null, serviceId: kotlin.Int? = null, serviceTagId: kotlin.Int? = null, sort: kotlin.String? = null, specialtyId: kotlin.Int? = null): HttpResponse<FacilityCursorPage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        bbox?.apply { localVariableQuery["bbox"] = listOf("$bbox") }
        categoryId?.apply { localVariableQuery["categoryId"] = listOf("$categoryId") }
        cityId?.apply { localVariableQuery["cityId"] = listOf("$cityId") }
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        dutyNow?.apply { localVariableQuery["dutyNow"] = listOf("$dutyNow") }
        dutyToday?.apply { localVariableQuery["dutyToday"] = listOf("$dutyToday") }
        latitude?.apply { localVariableQuery["latitude"] = listOf("$latitude") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        longitude?.apply { localVariableQuery["longitude"] = listOf("$longitude") }
        neighborhoodId?.apply { localVariableQuery["neighborhoodId"] = listOf("$neighborhoodId") }
        openNow?.apply { localVariableQuery["openNow"] = listOf("$openNow") }
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        serviceId?.apply { localVariableQuery["serviceId"] = listOf("$serviceId") }
        serviceTagId?.apply { localVariableQuery["serviceTagId"] = listOf("$serviceTagId") }
        sort?.apply { localVariableQuery["sort"] = listOf("$sort") }
        specialtyId?.apply { localVariableQuery["specialtyId"] = listOf("$specialtyId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/facilities/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve one publicly visible facility
     * Returns the public projection only. Verification evidence, reviewer notes, memberships, internal policy fields and raw storage keys are never included.
     * @param facilityId 
     * @return PublicFacilityDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicFacilityRetrieve(facilityId: kotlin.String): HttpResponse<PublicFacilityDetail> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/facilities/{facility_id}/".replace("{" + "facility_id" + "}", "$facilityId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Retrieve the home composition for a province
     * Bundles advertisements, the active category grid and three facility strips so the first screen needs one round trip. serverTime is authoritative.
     * @param provinceId Province to scope the query to.
     * @param bbox Viewport as west,south,east,north in WGS84 decimal degrees. (optional)
     * @param categoryId Optional category filter. (optional)
     * @param cityId Optional city filter. (optional)
     * @param latitude Caller latitude in WGS84 decimal degrees. Must be sent with longitude. (optional)
     * @param longitude Caller longitude in WGS84 decimal degrees. Must be sent with latitude. (optional)
     * @param neighborhoodId Optional neighbourhood filter. (optional)
     * @param search Free-text term matched against facility text. (optional)
     * @param serviceId The earlier name of serviceTagId, still accepted; it behaves the same way. (optional)
     * @param serviceTagId Optional service filter, an id from publicCategoryTagsRetrieve. Only facilities whose category declares serviceFilter can match. Anything but a positive whole number is refused with 400. (optional)
     * @param specialtyId Optional specialty filter, an id from publicCategoryTagsRetrieve. Only facilities whose category declares specialtyFilter can match. Anything but a positive whole number is refused with 400. (optional)
     * @return PublicHome
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicHomeRetrieve(provinceId: kotlin.String, bbox: kotlin.String? = null, categoryId: kotlin.String? = null, cityId: kotlin.String? = null, latitude: kotlin.String? = null, longitude: kotlin.String? = null, neighborhoodId: kotlin.String? = null, search: kotlin.String? = null, serviceId: kotlin.Int? = null, serviceTagId: kotlin.Int? = null, specialtyId: kotlin.Int? = null): HttpResponse<PublicHome> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        bbox?.apply { localVariableQuery["bbox"] = listOf("$bbox") }
        categoryId?.apply { localVariableQuery["categoryId"] = listOf("$categoryId") }
        cityId?.apply { localVariableQuery["cityId"] = listOf("$cityId") }
        latitude?.apply { localVariableQuery["latitude"] = listOf("$latitude") }
        longitude?.apply { localVariableQuery["longitude"] = listOf("$longitude") }
        neighborhoodId?.apply { localVariableQuery["neighborhoodId"] = listOf("$neighborhoodId") }
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        serviceId?.apply { localVariableQuery["serviceId"] = listOf("$serviceId") }
        serviceTagId?.apply { localVariableQuery["serviceTagId"] = listOf("$serviceTagId") }
        specialtyId?.apply { localVariableQuery["specialtyId"] = listOf("$specialtyId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/home/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * List compact map markers inside a viewport
     * Capped at 500 markers. Facilities without coordinates are omitted. The filters behave exactly as they do on the list endpoint and combine the same way, so a map and a list asked the same question answer the same.
     * @param provinceId Province to scope the query to.
     * @param bbox Viewport as west,south,east,north in WGS84 decimal degrees. (optional)
     * @param categoryId Optional category filter. (optional)
     * @param cityId Optional city filter. (optional)
     * @param dutyNow Pass true to keep only facilities whose duty shift is running. (optional)
     * @param dutyToday Pass true to keep only facilities on today&#39;s duty roster. (optional)
     * @param latitude Caller latitude in WGS84 decimal degrees. Must be sent with longitude. (optional)
     * @param longitude Caller longitude in WGS84 decimal degrees. Must be sent with latitude. (optional)
     * @param neighborhoodId Optional neighbourhood filter. (optional)
     * @param openNow Pass true to keep only facilities open at this moment. (optional)
     * @param search Free-text term matched against facility text. (optional)
     * @param serviceId The earlier name of serviceTagId, still accepted; it behaves the same way. (optional)
     * @param serviceTagId Optional service filter, an id from publicCategoryTagsRetrieve. Only facilities whose category declares serviceFilter can match. Anything but a positive whole number is refused with 400. (optional)
     * @param specialtyId Optional specialty filter, an id from publicCategoryTagsRetrieve. Only facilities whose category declares specialtyFilter can match. Anything but a positive whole number is refused with 400. (optional)
     * @return MapMarkerList
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicMapFacilitiesList(provinceId: kotlin.String, bbox: kotlin.String? = null, categoryId: kotlin.String? = null, cityId: kotlin.String? = null, dutyNow: kotlin.String? = null, dutyToday: kotlin.String? = null, latitude: kotlin.String? = null, longitude: kotlin.String? = null, neighborhoodId: kotlin.String? = null, openNow: kotlin.String? = null, search: kotlin.String? = null, serviceId: kotlin.Int? = null, serviceTagId: kotlin.Int? = null, specialtyId: kotlin.Int? = null): HttpResponse<MapMarkerList> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        bbox?.apply { localVariableQuery["bbox"] = listOf("$bbox") }
        categoryId?.apply { localVariableQuery["categoryId"] = listOf("$categoryId") }
        cityId?.apply { localVariableQuery["cityId"] = listOf("$cityId") }
        dutyNow?.apply { localVariableQuery["dutyNow"] = listOf("$dutyNow") }
        dutyToday?.apply { localVariableQuery["dutyToday"] = listOf("$dutyToday") }
        latitude?.apply { localVariableQuery["latitude"] = listOf("$latitude") }
        longitude?.apply { localVariableQuery["longitude"] = listOf("$longitude") }
        neighborhoodId?.apply { localVariableQuery["neighborhoodId"] = listOf("$neighborhoodId") }
        openNow?.apply { localVariableQuery["openNow"] = listOf("$openNow") }
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        serviceId?.apply { localVariableQuery["serviceId"] = listOf("$serviceId") }
        serviceTagId?.apply { localVariableQuery["serviceTagId"] = listOf("$serviceTagId") }
        specialtyId?.apply { localVariableQuery["specialtyId"] = listOf("$specialtyId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/map/facilities/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Search facilities within a province
     * 
     * @param provinceId Province to scope the query to.
     * @param q Search term, at least two characters.
     * @param bbox Viewport as west,south,east,north in WGS84 decimal degrees. (optional)
     * @param categoryId Optional category filter. (optional)
     * @param cityId Optional city filter. (optional)
     * @param cursor Opaque token returned as &#x60;nextCursor&#x60; by the previous page. (optional)
     * @param latitude Caller latitude in WGS84 decimal degrees. Must be sent with longitude. (optional)
     * @param limit Page size, maximum 100, default 30. (optional)
     * @param longitude Caller longitude in WGS84 decimal degrees. Must be sent with latitude. (optional)
     * @param neighborhoodId Optional neighbourhood filter. (optional)
     * @param search Free-text term matched against facility text. (optional)
     * @param serviceId The earlier name of serviceTagId, still accepted; it behaves the same way. (optional)
     * @param serviceTagId Optional service filter, an id from publicCategoryTagsRetrieve. Only facilities whose category declares serviceFilter can match. Anything but a positive whole number is refused with 400. (optional)
     * @param specialtyId Optional specialty filter, an id from publicCategoryTagsRetrieve. Only facilities whose category declares specialtyFilter can match. Anything but a positive whole number is refused with 400. (optional)
     * @return FacilityCursorPage
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun publicSearchList(provinceId: kotlin.String, q: kotlin.String, bbox: kotlin.String? = null, categoryId: kotlin.String? = null, cityId: kotlin.String? = null, cursor: kotlin.String? = null, latitude: kotlin.String? = null, limit: kotlin.Int? = null, longitude: kotlin.String? = null, neighborhoodId: kotlin.String? = null, search: kotlin.String? = null, serviceId: kotlin.Int? = null, serviceTagId: kotlin.Int? = null, specialtyId: kotlin.Int? = null): HttpResponse<FacilityCursorPage> {

        val localVariableAuthNames = listOf<String>("bearerAccessToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        bbox?.apply { localVariableQuery["bbox"] = listOf("$bbox") }
        categoryId?.apply { localVariableQuery["categoryId"] = listOf("$categoryId") }
        cityId?.apply { localVariableQuery["cityId"] = listOf("$cityId") }
        cursor?.apply { localVariableQuery["cursor"] = listOf("$cursor") }
        latitude?.apply { localVariableQuery["latitude"] = listOf("$latitude") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        longitude?.apply { localVariableQuery["longitude"] = listOf("$longitude") }
        neighborhoodId?.apply { localVariableQuery["neighborhoodId"] = listOf("$neighborhoodId") }
        provinceId?.apply { localVariableQuery["provinceId"] = listOf("$provinceId") }
        q?.apply { localVariableQuery["q"] = listOf("$q") }
        search?.apply { localVariableQuery["search"] = listOf("$search") }
        serviceId?.apply { localVariableQuery["serviceId"] = listOf("$serviceId") }
        serviceTagId?.apply { localVariableQuery["serviceTagId"] = listOf("$serviceTagId") }
        specialtyId?.apply { localVariableQuery["specialtyId"] = listOf("$specialtyId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/api/v1/public/search/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}
