DIRECTORY_API_BASE_URL=https://api.<ROOT_DOMAIN>/
DIRECTORY_REALTIME_WS_URL=wss://api.<ROOT_DOMAIN>/ws/v1/directory/
DIRECTORY_MAP_STYLE_URL=https://maps.<ROOT_DOMAIN>/style/daliini
DIRECTORY_ROUTING_BASE_URL=https://maps.<ROOT_DOMAIN>/routing/
